<nav class="rt-breadcrumb-wrap" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ $.Site.BaseURL }}category/{{ .Params.category }}"> {{ .Params.category }} </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <span class="rt-text-truncate">
                {{ .Title }}
            </span>
        </li>
    </ol>
</nav>