<div class="row mt--60">
	<div class="col-12">
		<div class="wrap">
			<div class="featured-tab-title">
				<h2 class="rt-section-heading">
					<span class="rt-section-text">Featured Post </span>
					<span class="rt-section-dot"></span>
					<span class="rt-section-line"></span>
				</h2>

				<ul class="nav rt-tab-menu" id="myTab-2" role="tablist">
					<li class="menu-item" role="presentation">
						<a
							class="menu-link active"
							id="menu-11-tab"
							data-bs-toggle="tab"
							href="#menu-11"
							role="tab"
							aria-controls="menu-11"
							aria-selected="true"
						>
							Linux
						</a>
					</li>
					<li class="menu-item" role="presentation">
						<a
							class="menu-link"
							id="menu-22-tab"
							data-bs-toggle="tab"
							href="#menu-22"
							role="tab"
							aria-controls="menu-22"
							aria-selected="false"
						>
							windows
						</a>
					</li>
					<li class="menu-item" role="presentation">
						<a
							class="menu-link"
							id="menu-33-tab"
							data-bs-toggle="tab"
							href="#menu-33"
							role="tab"
							aria-controls="menu-33"
							aria-selected="false"
						>
							android
						</a>
					</li>
					<li class="menu-item" role="presentation">
						<a
							class="menu-link"
							id="menu-44-tab"
							data-bs-toggle="tab"
							href="#menu-44"
							role="tab"
							aria-controls="menu-44"
							aria-selected="false"
						>
							software</a
						>
					</li>
				</ul>
				<!-- end nav tab -->
			</div>
			<!-- end featured-tab-title -->

			<div class="tab-content" id="myTabContent-2">
				<div
					class="tab-pane tab-item animated fadeInUp show active"
					id="menu-11"
					role="tabpanel"
					aria-labelledby="menu-11-tab"
				>
					<div class="row gutter-24">
						{{ $counter := 0 }}
						{{ $v1 := where .Site.Pages "Params.category" "=" "linux" }}
						{{ $v2 := where .Site.Pages "Params.tags" "intersect" (slice "linux") }}
						{{ $filtered := $v1 | union $v2 }}
						{{ range first 1 $filtered }}
						{{ $counter = add $counter 1 }}
						{{ if (eq $counter 1) }}

						<div class="col-xl-4 col-lg-6">
							<div class="rt-post-overlay rt-post-overlay-md">
								<div class="post-img">
									<a href="{{ .Permalink }}" class="img-link">
										{{ $image := resources.Get ( printf "images/thumbs/%s" .Params.featured_image ) }}
										{{ with $image }}
										<img class="lazyload"
											src="{{ ( $image.Resize "900x600" ).RelPermalink }}"
											alt="{{ .Title }}"
											width="900"
											height="600"
										/>
										{{ else }}
										<img class="lazyload"
											src="/images/gallery/post-lg_5.jpg"
											alt="{{ .Title }}"
											width="900"
											height="600"
										/>
										{{ end }}
									</a>
								</div>
								<div class="post-content">
									<a href="{{ $.Site.BaseURL }}category/{{ .Params.category }}" class="{{ .Params.category }}">{{ .Params.category }}</a>
									<h3 class="post-title">
										<a href="{{ .Permalink }}">
											{{ .Title }}
										</a>
									</h3>

									<div class="post-meta">
										<ul>
											<li>
												<span class="rt-meta">
													by
													<a href="author.html" class="name">{{ .Site.Params.author }}</a>
												</span>
											</li>
											<li>
												{{- partial "body/published-date.html" . -}}
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						{{ end }}
						{{ end }}
						<!-- end col -->

						<div class="col-xl-4 col-lg-6">
							<div class="post-grid-md-list gutter-24">

								{{ range first 5 $filtered }}
								{{ $counter = add $counter 1 }}

								{{ if and (gt $counter 2) (lt $counter 6) }}
								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="{{ .Permalink }}">
												{{ $image := resources.Get ( printf "images/thumbs/%s" .Params.featured_image ) }}
												{{ with $image }}
												<img class="lazyload"
													src="{{ ( $image.Resize "343x250" ).RelPermalink }}" alt="{{ .Title }}"
													width="343"
													height="250"
												/>
												{{ else }}
												<img class="lazyload"
												src="/images/gallery/post-lg_2.jpg"
												alt="{{ .Title }}"
												width="343"
												height="250"
											/>
											{{ end }}
											</a>
										</div>
										<div class="post-content">
											<a href="{{ $.Site.BaseURL }}category/{{ .Params.category }}" class="rt-post-cat-normal"
												>{{ .Params.category }}</a
											>
											<h4 class="post-title">
												<a href="{{ .Permalink }}">
													{{ .Title }}
												</a>
											</h4>
											{{- partial "body/published-date.html" . -}}
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->
								{{ end }}
								{{ end }}
								
								<!-- end rt-post post-md item -->
							</div>
							<!-- end post grid md list -->
						</div>
						<!-- end col -->

						<div class="col-xl-4 col-lg-6">
							<div class="post-grid-md-list gutter-24">

								{{ range first 9 $filtered }}
								{{ $counter = add $counter 1 }}

								{{ if and (gt $counter 6) (lt $counter 9) }}
								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="{{ .Permalink }}">
												{{ $image := resources.Get ( printf "images/thumbs/%s" .Params.featured_image ) }}
												{{ with $image }}
												<img class="lazyload"
													src="{{ ( $image.Resize "343x250" ).RelPermalink }}" alt="{{ .Title }}"
													width="343"
													height="250"
												/>
												{{ else }}
												<img class="lazyload"
												src="/images/gallery/post-lg_2.jpg"
												alt="{{ .Title }}"
												width="343"
												height="250"
											/>
											{{ end }}
											</a>
										</div>
										<div class="post-content">
											<a href="{{ $.Site.BaseURL }}category/{{ .Params.category }}" class="rt-post-cat-normal"
												>{{ .Params.category }}</a
											>
											<h4 class="post-title">
												<a href="{{ .Permalink }}">
													{{ .Title }}
												</a>
											</h4>
											{{- partial "body/published-date.html" . -}}
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->
								{{ end }}
								{{ end }}
							</div>
							<!-- end post grid md list -->
						</div>
						<!-- end col -->
					</div>
					<!-- end innrer row -->
				</div>
				<!-- end ./tab item -->

				<div
					class="tab-pane tab-item animated fadeInUp"
					id="menu-22"
					role="tabpanel"
					aria-labelledby="menu-22-tab"
				>
					<div class="row gutter-24">
						{{ $counter := 0 }}
						{{ $v1 := where .Site.Pages "Params.category" "=" "windows" }}
						{{ $v2 := where .Site.Pages "Params.tags" "intersect" (slice "windows") }}
						{{ $filtered := $v1 | union $v2 }}
						{{ range first 1 $filtered }}
						{{ $counter = add $counter 1 }}
						{{ if (eq $counter 1) }}

						<div class="col-xl-4 col-lg-6">
							<div class="rt-post-overlay rt-post-overlay-md">
								<div class="post-img">
									<a href="{{ .Permalink }}" class="img-link">
										{{ $image := resources.Get ( printf "images/thumbs/%s" .Params.featured_image ) }}
										{{ with $image }}
										<img class="lazyload"
											src="{{ ( $image.Resize "900x600" ).RelPermalink }}"
											alt="{{ .Title }}"
											width="900"
											height="600"
										/>
										{{ else }}
										<img class="lazyload"
											src="/images/gallery/post-lg_5.jpg"
											alt="{{ .Title }}"
											width="900"
											height="600"
										/>
										{{ end }}
									</a>
								</div>
								<div class="post-content">
									<a href="{{ $.Site.BaseURL }}category/{{ .Params.category }}" class="{{ .Params.category }}">{{ .Params.category }}</a>
									<h3 class="post-title">
										<a href="{{ .Permalink }}">
											{{ .Title }}
										</a>
									</h3>

									<div class="post-meta">
										<ul>
											<li>
												<span class="rt-meta">
													by
													<a href="author.html" class="name">{{ .Site.Params.author }}</a>
												</span>
											</li>
											<li>
												{{- partial "body/published-date.html" . -}}
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						{{ end }}
						{{ end }}
						<!-- end col -->

						<div class="col-xl-4 col-lg-6">
							<div class="post-grid-md-list gutter-24">

								{{ range first 5 $filtered }}
								{{ $counter = add $counter 1 }}

								{{ if and (gt $counter 2) (lt $counter 6) }}
								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="{{ .Permalink }}">
												{{ $image := resources.Get ( printf "images/thumbs/%s" .Params.featured_image ) }}
												{{ with $image }}
												<img class="lazyload"
													src="{{ ( $image.Resize "343x250" ).RelPermalink }}" alt="{{ .Title }}"
													width="343"
													height="250"
												/>
												{{ else }}
												<img class="lazyload"
												src="/images/gallery/post-lg_2.jpg"
												alt="{{ .Title }}"
												width="343"
												height="250"
											/>
											{{ end }}
											</a>
										</div>
										<div class="post-content">
											<a href="{{ $.Site.BaseURL }}category/{{ .Params.category }}" class="rt-post-cat-normal"
												>{{ .Params.category }}</a
											>
											<h4 class="post-title">
												<a href="{{ .Permalink }}">
													{{ .Title }}
												</a>
											</h4>
											{{- partial "body/published-date.html" . -}}
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->
								{{ end }}
								{{ end }}
								
								<!-- end rt-post post-md item -->
							</div>
							<!-- end post grid md list -->
						</div>
						<!-- end col -->

						<div class="col-xl-4 col-lg-6">
							<div class="post-grid-md-list gutter-24">

								{{ range first 10 $filtered }}
								{{ $counter = add $counter 1 }}

								{{ if and (gt $counter 6) (lt $counter 10) }}
								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="{{ .Permalink }}">
												{{ $image := resources.Get ( printf "images/thumbs/%s" .Params.featured_image ) }}
												{{ with $image }}
												<img class="lazyload"
													src="{{ ( $image.Resize "343x250" ).RelPermalink }}" alt="{{ .Title }}"
													width="343"
													height="250"
												/>
												{{ else }}
												<img class="lazyload"
												src="/images/gallery/post-lg_2.jpg"
												alt="{{ .Title }}"
												width="343"
												height="250"
											/>
											{{ end }}
											</a>
										</div>
										<div class="post-content">
											<a href="{{ $.Site.BaseURL }}category/{{ .Params.category }}" class="rt-post-cat-normal"
												>{{ .Params.category }}</a
											>
											<h4 class="post-title">
												<a href="{{ .Permalink }}">
													{{ .Title }}
												</a>
											</h4>
											{{- partial "body/published-date.html" . -}}
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->
								{{ end }}
								{{ end }}
							</div>
							<!-- end post grid md list -->
						</div>
						<!-- end col -->
					</div>
					<!-- end innrer row -->
				</div>
				<!-- end ./tab item -->

				<div
					class="tab-pane tab-item animated fadeInUp"
					id="menu-33"
					role="tabpanel"
					aria-labelledby="menu-33-tab"
				>
					<div class="row gutter-24">
						{{ $counter := 0 }}
						{{ $v1 := where .Site.Pages "Params.category" "=" "android" }}
						{{ $v2 := where .Site.Pages "Params.tags" "intersect" (slice "android") }}
						{{ $filtered := $v1 | union $v2 }}
						{{ range first 1 $filtered }}
						{{ $counter = add $counter 1 }}
						{{ if (eq $counter 1) }}

						<div class="col-xl-4 col-lg-6">
							<div class="rt-post-overlay rt-post-overlay-md">
								<div class="post-img">
									<a href="{{ .Permalink }}" class="img-link">
										{{ $image := resources.Get ( printf "images/thumbs/%s" .Params.featured_image ) }}
										{{ with $image }}
										<img class="lazyload"
											src="{{ ( $image.Resize "900x600" ).RelPermalink }}"
											alt="{{ .Title }}"
											width="900"
											height="600"
										/>
										{{ else }}
										<img class="lazyload"
											src="/images/gallery/post-lg_5.jpg"
											alt="{{ .Title }}"
											width="900"
											height="600"
										/>
										{{ end }}
									</a>
								</div>
								<div class="post-content">
									<a href="{{ $.Site.BaseURL }}category/{{ .Params.category }}" class="{{ .Params.category }}">{{ .Params.category }}</a>
									<h3 class="post-title">
										<a href="{{ .Permalink }}">
											{{ .Title }}
										</a>
									</h3>

									<div class="post-meta">
										<ul>
											<li>
												<span class="rt-meta">
													by
													<a href="author.html" class="name">{{ .Site.Params.author }}</a>
												</span>
											</li>
											<li>
												{{- partial "body/published-date.html" . -}}
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						{{ end }}
						{{ end }}
						<!-- end col -->

						<div class="col-xl-4 col-lg-6">
							<div class="post-grid-md-list gutter-24">

								{{ range first 5 $filtered }}
								{{ $counter = add $counter 1 }}

								{{ if and (gt $counter 2) (lt $counter 6) }}
								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="{{ .Permalink }}">
												{{ $image := resources.Get ( printf "images/thumbs/%s" .Params.featured_image ) }}
												{{ with $image }}
												<img class="lazyload"
													src="{{ ( $image.Resize "343x250" ).RelPermalink }}" alt="{{ .Title }}"
													width="343"
													height="250"
												/>
												{{ else }}
												<img class="lazyload"
												src="/images/gallery/post-lg_2.jpg"
												alt="{{ .Title }}"
												width="343"
												height="250"
											/>
											{{ end }}
											</a>
										</div>
										<div class="post-content">
											<a href="{{ $.Site.BaseURL }}category/{{ .Params.category }}" class="rt-post-cat-normal"
												>{{ .Params.category }}</a
											>
											<h4 class="post-title">
												<a href="{{ .Permalink }}">
													{{ .Title }}
												</a>
											</h4>
											{{- partial "body/published-date.html" . -}}
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->
								{{ end }}
								{{ end }}
								
								<!-- end rt-post post-md item -->
							</div>
							<!-- end post grid md list -->
						</div>
						<!-- end col -->

						<div class="col-xl-4 col-lg-6">
							<div class="post-grid-md-list gutter-24">

								{{ range first 10 $filtered }}
								{{ $counter = add $counter 1 }}

								{{ if and (gt $counter 6) (lt $counter 10) }}
								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="{{ .Permalink }}">
												{{ $image := resources.Get ( printf "images/thumbs/%s" .Params.featured_image ) }}
												{{ with $image }}
												<img class="lazyload"
													src="{{ ( $image.Resize "343x250" ).RelPermalink }}" alt="{{ .Title }}"
													width="343"
													height="250"
												/>
												{{ else }}
												<img class="lazyload"
												src="/images/gallery/post-lg_2.jpg"
												alt="{{ .Title }}"
												width="343"
												height="250"
											/>
											{{ end }}
											</a>
										</div>
										<div class="post-content">
											<a href="{{ $.Site.BaseURL }}category/{{ .Params.category }}" class="rt-post-cat-normal"
												>{{ .Params.category }}</a
											>
											<h4 class="post-title">
												<a href="{{ .Permalink }}">
													{{ .Title }}
												</a>
											</h4>
											{{- partial "body/published-date.html" . -}}
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->
								{{ end }}
								{{ end }}
							</div>
							<!-- end post grid md list -->
						</div>
						<!-- end col -->
					</div>
					<!-- end innrer row -->
				</div>
				<!-- end ./tab item -->

				<div
					class="tab-pane tab-item animated fadeInUp"
					id="menu-44"
					role="tabpanel"
					aria-labelledby="menu-44-tab"
				>
					<div class="row gutter-24">
						{{ $counter := 0 }}
						{{ $v1 := where .Site.Pages "Params.category" "=" "software" }}
						{{ $v2 := where .Site.Pages "Params.tags" "intersect" (slice "software") }}
						{{ $filtered := $v1 | union $v2 }}
						{{ range first 1 $filtered }}
						{{ $counter = add $counter 1 }}
						{{ if (eq $counter 1) }}

						<div class="col-xl-4 col-lg-6">
							<div class="rt-post-overlay rt-post-overlay-md">
								<div class="post-img">
									<a href="{{ .Permalink }}" class="img-link">
										{{ $image := resources.Get ( printf "images/thumbs/%s" .Params.featured_image ) }}
										{{ with $image }}
										<img class="lazyload"
											src="{{ ( $image.Resize "900x600" ).RelPermalink }}"
											alt="{{ .Title }}"
											width="900"
											height="600"
										/>
										{{ else }}
										<img class="lazyload"
											src="/images/gallery/post-lg_5.jpg"
											alt="{{ .Title }}"
											width="900"
											height="600"
										/>
										{{ end }}
									</a>
								</div>
								<div class="post-content">
									<a href="{{ $.Site.BaseURL }}category/{{ .Params.category }}" class="{{ .Params.category }}">{{ .Params.category }}</a>
									<h3 class="post-title">
										<a href="{{ .Permalink }}">
											{{ .Title }}
										</a>
									</h3>

									<div class="post-meta">
										<ul>
											<li>
												<span class="rt-meta">
													by
													<a href="author.html" class="name">{{ .Site.Params.author }}</a>
												</span>
											</li>
											<li>
												{{- partial "body/published-date.html" . -}}
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						{{ end }}
						{{ end }}
						<!-- end col -->

						<div class="col-xl-4 col-lg-6">
							<div class="post-grid-md-list gutter-24">

								{{ range first 5 $filtered }}
								{{ $counter = add $counter 1 }}

								{{ if and (gt $counter 2) (lt $counter 6) }}
								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="{{ .Permalink }}">
												{{ $image := resources.Get ( printf "images/thumbs/%s" .Params.featured_image ) }}
												{{ with $image }}
												<img class="lazyload"
													src="{{ ( $image.Resize "343x250" ).RelPermalink }}" alt="{{ .Title }}"
													width="343"
													height="250"
												/>
												{{ else }}
												<img class="lazyload"
												src="/images/gallery/post-lg_2.jpg"
												alt="{{ .Title }}"
												width="343"
												height="250"
											/>
											{{ end }}
											</a>
										</div>
										<div class="post-content">
											<a href="{{ $.Site.BaseURL }}category/{{ .Params.category }}" class="rt-post-cat-normal"
												>{{ .Params.category }}</a
											>
											<h4 class="post-title">
												<a href="{{ .Permalink }}">
													{{ .Title }}
												</a>
											</h4>
											{{- partial "body/published-date.html" . -}}
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->
								{{ end }}
								{{ end }}
								
								<!-- end rt-post post-md item -->
							</div>
							<!-- end post grid md list -->
						</div>
						<!-- end col -->

						<div class="col-xl-4 col-lg-6">
							<div class="post-grid-md-list gutter-24">

								{{ range first 10 $filtered }}
								{{ $counter = add $counter 1 }}

								{{ if and (gt $counter 6) (lt $counter 10) }}
								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="{{ .Permalink }}">
												{{ $image := resources.Get ( printf "images/thumbs/%s" .Params.featured_image ) }}
												{{ with $image }}
												<img class="lazyload"
													src="{{ ( $image.Resize "343x250" ).RelPermalink }}" alt="{{ .Title }}"
													width="343"
													height="250"
												/>
												{{ else }}
												<img class="lazyload"
												src="/images/gallery/post-lg_2.jpg"
												alt="{{ .Title }}"
												width="343"
												height="250"
											/>
											{{ end }}
											</a>
										</div>
										<div class="post-content">
											<a href="{{ $.Site.BaseURL }}category/{{ .Params.category }}" class="rt-post-cat-normal"
												>{{ .Params.category }}</a
											>
											<h4 class="post-title">
												<a href="{{ .Permalink }}">
													{{ .Title }}
												</a>
											</h4>
											{{- partial "body/published-date.html" . -}}
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->
								{{ end }}
								{{ end }}
							</div>
							<!-- end post grid md list -->
						</div>
						<!-- end col -->
					</div>
					<!-- end innrer row -->
				</div>
				<!-- end ./tab item -->
			</div>
			<!-- end /.tab-content -->
		</div>
		<!-- end  wrap  -->
	</div>
	<!-- end col  -->
</div>
