<div class="wrap">
	<h2 class="rt-section-heading">
		<span class="rt-section-text">Games </span>
		<span class="rt-section-dot"></span>
		<span class="rt-section-line"></span>
	</h2>
	<div class="row gutter-10">
		{{ $p := where site.RegularPages "Type" "posts" }}
		{{ $v1 := where $p "Params.category" "=" "games" }}
		{{ $v2 := where $p "Params.tags" "intersect" (slice "games") }}
		{{ $filter := $v1 | union $v2 }}
		{{ range first 4 $filter }}
		<div
			class="col-lg-6 wow fadeInUp"
			data-wow-delay="200ms"
			data-wow-duration="800ms"
		>
			<div class="rt-post-overlay rt-post-overlay-md">
				<div class="post-img">
					<a href="{{ .Permalink }}" class="img-link">
						{{ $image := resources.Get ( printf "images/thumbs/%s" .Params.featured_image ) }}
                        {{ with $image }}
							<img
								src="{{ ( $image.Resize "900x600" ).RelPermalink }}" alt="{{ .Title }}"
								width="900"
								height="600"
							/>
							{{ else }}
							<img
								src="/images/gallery/post-lg_5.jpg"
								alt="{{ .Title }}"
								width="900"
								height="600"
							/>
						{{end}}	
						
					</a>
				</div>
				<div class="post-content">
					<h3 class="post-title bold-underline">
						<a href="{{ .Permalink }}">
							{{ .Title }}
						</a>
					</h3>

					<div class="post-meta">
						<ul>
							<li>
								<span class="rt-meta">
									by
									<a href="author.html" class="name">T4Technow</a>
								</span>
							</li>
							<li>
								{{- partial "body/published-date.html" . -}}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- end col -->
		{{ end }}
	</div>
	<!-- end inner row -->
</div>


