<div class="section subscribe-section-style-1">
	<div class="container">
		<div class="row justify-content-evenly">
			<div
				class="col-lg-4 align-self-end wow fadeInLeft d-none d-lg-block"
				data-wow-delay="300ms"
				data-wow-duration="800ms"
			>
				<div class="subscribe-img bouncing-bubble-animation">
					<img
						src="/images/elements/subscrible-img_1.png"
						alt="subscrible"
						width="401"
						height="327"
					/>
				</div>
			</div>
			<!-- end col -->

			<div
				class="col-lg-6 align-self-center wow fadeInRight"
				data-wow-delay="600ms"
				data-wow-duration="800ms"
			>
				<div class="rt-subscribe-box">
					<h3 class="title">Get The Best Blog Stories into Your inbox!</h3>
					<form action="#" class="rt-contact-form subscribe-form-style-2">
						<div class="rt-subs-group">
							<input
								type="email"
								name="email"
								id="email_2"
								class="subscribe-form"
								placeholder="Your e-mail"
								data-error="Email field is required"
								required
							/>
							<button type="submit" class="subscribe-btn">Subscribe</button>
							<div class="form-response"></div>
						</div>
					</form>
				</div>
			</div>
			<!-- end col -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</div>
