<section class="top-stories-style-1 section-padding motion-effects-wrap">
	<ul class="element-list d-none d-xl-block">
		<li class="motion-effects1">
			<img
				class="wow fadeInLeft"
				data-wow-delay="200ms"
				data-wow-duration="800ms"
				src="/images/elements/element_2.png"
				alt="element_1"
				width="88"
				height="58"
			/>
		</li>
		<li>
			<img
				class="wow fadeInDown"
				data-wow-delay="400ms"
				data-wow-duration="800ms"
				src="/images/elements/element_3.png"
				alt="element_2"
				width="182"
				height="72"
			/>
		</li>
		<li>
			<img
				class="wow fadeInRight"
				data-wow-delay="600ms"
				data-wow-duration="800ms"
				src="/images/elements/element_4.png"
				alt="element_3"
				width="199"
				height="128"
			/>
		</li>
	</ul>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="rt-section-heading">
					<span class="rt-section-text">Top Stories </span>
					<span class="rt-section-dot"></span>
					<span class="rt-section-line"></span>
				</h2>
			</div>
		</div>
		<div class="row gutter-24">
			{{ $counter := 0 }}
			{{ range ( where .Site.RegularPages "Type" "posts" | first 8 ) }}
			{{ $counter = add $counter 1 }}
			{{ if (lt $counter 5) }}

			{{ else }}
			<div
				class="col-xl-3 col-md-6 wow fadeInUp"
				data-wow-delay="200ms"
				data-wow-duration="800ms"
			>
				<div class="rt-post-grid grid-meta">
					<div class="post-img">
						<a href="{{ .Permalink }}">
							{{ $image := resources.Get ( printf "images/thumbs/%s" .Params.featured_image ) }}
                        
							{{ with $image }}
							<img
								src="{{ ( $image.Resize "900x600" ).RelPermalink }}" 
								alt="{{ .Title }}"
								width="551"
								height="431"
							/>
							{{ else }}
								<img
									src="/images/gallery/post-lg_5.jpg"
									alt="{{ .Title }}"
									width="900"
									height="600"
								/>
								{{ end }}
						</a>
					</div>
					<div class="post-content">
						<a href="{{ $.Site.BaseURL }}category/{{ .Params.category }}" class="rt-post-cat-normal">{{ .Params.category }}</a>
						<h3 class="post-title">
							<a href="{{ .Permalink }}">
								{{ .Page.Title }}
							</a>
						</h3>
						<div class="post-meta">
							<ul>
								<li>
									<span class="rt-meta">
										by
										<a href="author.html" class="name">T4Technow</a>
									</span>
								</li>
								<li>
									{{- partial "body/published-date.html" . -}}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- end col -->
			{{ end }}
			{{ end }}
			<!-- end col -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
