<section class="video-section-style-1">
	<div class="swiper-container video-slider-style-1">
		<div class="swiper-wrapper">
			
			<div class="swiper-slide">
				<div
					class="item video-slide"
					data-bg-image="/images/gallery/video-gallery-bg_1.jpg"
				>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-xl-7 col-lg-8 col-md-10">
								<div class="post-content text-center">
									<a
										href="technology.html"
										class="rt-post-cat-normal text--white"
										>Technology</a
									>
									<h2 class="post-title bold-underline">
										<a href="single-post1.html">
											How childhood viral infect multiple section project.
										</a>
									</h2>
									<div class="post-meta">
										<ul class="justify-content-center">
											<li>
												{{- partial "body/published-date.html" . -}}
											</li>
											<li>
												<span class="rt-meta">
													<i class="fas fa-user icon"></i>
													Super Star
												</span>
											</li>
											<li>
												<span class="rt-meta">
													<i class="fas fa-share-alt icon"></i>
													3,250
												</span>
											</li>
										</ul>
									</div>
									<div class="btn-wrap mt--30">
										<a
											href="http://www.youtube.com/watch?v=1iIZeIy7TqM"
											class="play-btn play-btn-primary"
										>
											<i class="fas fa-play"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end swiper-slide -->

			<div class="swiper-slide">
				<div
					class="item video-slide"
					data-bg-image="/images/gallery/video-gallery-bg_2.jpg"
				>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-xl-7 col-lg-8 col-md-10">
								<div class="post-content text-center">
									<a
										href="technology.html"
										class="rt-post-cat-normal text--white"
										>Technology</a
									>
									<h2 class="post-title bold-underline">
										<a href="single-post1.html">
											How childhood viral infect multiple section project.
										</a>
									</h2>
									<div class="post-meta">
										<ul class="justify-content-center">
											<li>
												{{- partial "body/published-date.html" . -}}
											</li>
											<li>
												<span class="rt-meta">
													<i class="fas fa-user icon"></i>
													Super Star
												</span>
											</li>
											<li>
												<span class="rt-meta">
													<i class="fas fa-share-alt icon"></i>
													3,250
												</span>
											</li>
										</ul>
									</div>
									<div class="btn-wrap mt--30">
										<a
											href="http://www.youtube.com/watch?v=1iIZeIy7TqM"
											class="play-btn play-btn-primary"
										>
											<i class="fas fa-play"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end swiper-slide -->

			<div class="swiper-slide">
				<div
					class="item video-slide"
					data-bg-image="/images/gallery/video-gallery-bg_3.jpg"
				>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-xl-7 col-lg-8 col-md-10">
								<div class="post-content text-center">
									<a
										href="technology.html"
										class="rt-post-cat-normal text--white"
										>Technology</a
									>
									<h2 class="post-title bold-underline">
										<a href="single-post1.html">
											How childhood viral infect multiple section project.
										</a>
									</h2>
									<div class="post-meta">
										<ul class="justify-content-center">
											<li>
												{{- partial "body/published-date.html" . -}}
											</li>
											<li>
												<span class="rt-meta">
													<i class="fas fa-user icon"></i>
													Super Star
												</span>
											</li>
											<li>
												<span class="rt-meta">
													<i class="fas fa-share-alt icon"></i>
													3,250
												</span>
											</li>
										</ul>
									</div>
									<div class="btn-wrap mt--30">
										<a
											href="http://www.youtube.com/watch?v=1iIZeIy7TqM"
											class="play-btn play-btn-primary"
										>
											<i class="fas fa-play"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end swiper-slide -->

			<div class="swiper-slide">
				<div
					class="item video-slide"
					data-bg-image="/images/gallery/video-gallery-bg_4.jpg"
				>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-xl-7 col-lg-8 col-md-10">
								<div class="post-content text-center">
									<a
										href="technology.html"
										class="rt-post-cat-normal text--white"
										>Technology</a
									>
									<h2 class="post-title bold-underline">
										<a href="single-post1.html">
											How childhood viral infect multiple section project.
										</a>
									</h2>
									<div class="post-meta">
										<ul class="justify-content-center">
											<li>
												{{- partial "body/published-date.html" . -}}
											</li>
											<li>
												<span class="rt-meta">
													<i class="fas fa-user icon"></i>
													Super Star
												</span>
											</li>
											<li>
												<span class="rt-meta">
													<i class="fas fa-share-alt icon"></i>
													3,250
												</span>
											</li>
										</ul>
									</div>
									<div class="btn-wrap mt--30">
										<a
											href="http://www.youtube.com/watch?v=1iIZeIy7TqM"
											class="play-btn play-btn-primary"
										>
											<i class="fas fa-play"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end swiper-slide -->

			<div class="swiper-slide">
				<div
					class="item video-slide"
					data-bg-image="/images/gallery/video-gallery-bg_2.jpg"
				>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-xl-7 col-lg-8 col-md-10">
								<div class="post-content text-center">
									<a
										href="technology.html"
										class="rt-post-cat-normal text--white"
										>Technology</a
									>
									<h2 class="post-title bold-underline">
										<a href="single-post1.html">
											How childhood viral infect multiple section project.
										</a>
									</h2>
									<div class="post-meta">
										<ul class="justify-content-center">
											<li>
												{{- partial "body/published-date.html" . -}}
											</li>
											<li>
												<span class="rt-meta">
													<i class="fas fa-user icon"></i>
													Super Star
												</span>
											</li>
											<li>
												<span class="rt-meta">
													<i class="fas fa-share-alt icon"></i>
													3,250
												</span>
											</li>
										</ul>
									</div>
									<div class="btn-wrap mt--30">
										<a
											href="http://www.youtube.com/watch?v=1iIZeIy7TqM"
											class="play-btn play-btn-primary"
										>
											<i class="fas fa-play"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end swiper-slide -->
		</div>
	</div>
	<!-- end video-slider-style-1 -->

	<!-- start video-thumnail-area -->
	<div class="video-thumnail-area">
		<div class="container">
			<div class="swiper-container video-slider-thumbnail-style-1">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="item video-slide-thumb">
							<div class="rt-post post-sm post-thumb">
								<div class="post-img">
									<img
										src="/images/gallery/video-thumb_1.jpg"
										alt="post"
										width="130"
										height="100"
									/>
								</div>
								<div class="ms-3 post-content">
									<span class="rt-post-cat-normal">Technology</span>
									<h4 class="post-title">
										<span class="title-ex">
											Top Beste ampute are Speak Market.
										</span>
									</h4>
									<span class="rt-meta">
										<i class="far fa-calendar-alt icon"></i>
										DECEMBER 9, 2022
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- end thumb slide -->

					<div class="swiper-slide">
						<div class="item video-slide-thumb">
							<div class="rt-post post-sm post-thumb">
								<div class="post-img">
									<img
										src="/images/gallery/video-thumb_2.jpg"
										alt="post"
										width="130"
										height="100"
									/>
								</div>
								<div class="ms-3 post-content">
									<span class="rt-post-cat-normal">Sports</span>
									<h4 class="post-title">
										<span class="title-ex">
											Top Beste ampute are Speak Market.
										</span>
									</h4>
									<span class="rt-meta">
										<i class="far fa-calendar-alt icon"></i>
										DECEMBER 9, 2022
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- end thumb slide -->

					<div class="swiper-slide">
						<div class="item video-slide-thumb">
							<div class="rt-post post-sm post-thumb">
								<div class="post-img">
									<img
										src="/images/gallery/video-thumb_3.jpg"
										alt="post"
										width="130"
										height="100"
									/>
								</div>
								<div class="ms-3 post-content">
									<span class="rt-post-cat-normal">Food</span>
									<h4 class="post-title">
										<span class="title-ex">
											Top Beste ampute are Speak Market.
										</span>
									</h4>
									<span class="rt-meta">
										<i class="far fa-calendar-alt icon"></i>
										DECEMBER 9, 2022
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- end thumb slide -->

					<div class="swiper-slide">
						<div class="item video-slide-thumb">
							<div class="rt-post post-sm post-thumb">
								<div class="post-img">
									<img
										src="/images/gallery/video-thumb_4.jpg"
										alt="post"
										width="130"
										height="100"
									/>
								</div>
								<div class="ms-3 post-content">
									<span class="rt-post-cat-normal">Tech</span>
									<h4 class="post-title">
										<span class="title-ex">
											Top Beste ampute are Speak Market.
										</span>
									</h4>
									<span class="rt-meta">
										<i class="far fa-calendar-alt icon"></i>
										DECEMBER 9, 2022
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- end thumb slide -->

					<div class="swiper-slide">
						<div class="item video-slide-thumb">
							<div class="rt-post post-sm post-thumb">
								<div class="post-img">
									<img
										src="/images/gallery/video-thumb_2.jpg"
										alt="post"
										width="130"
										height="100"
									/>
								</div>
								<div class="ms-3 post-content">
									<span class="rt-post-cat-normal">Tech</span>
									<h4 class="post-title">
										<span class="title-ex">
											Top Beste ampute are Speak Market.
										</span>
									</h4>
									<span class="rt-meta">
										<i class="far fa-calendar-alt icon"></i>
										DECEMBER 9, 2022
									</span>
								</div>
							</div>
						</div>
					</div>
					<!-- end thumb slide -->
				</div>
				<!-- swiper-pagination -->
				<div class="swiper-pagination"></div>
			</div>
			<!-- end video-slider-thumbnail-style-1 -->
		</div>
		<!-- end container -->
	</div>
	<!-- end video-thumnail-area -->
</section>
