
<div class="sidebar-wrap">
    <h2 class="rt-section-heading style-2 mb--30">
        <span class="rt-section-text">Popular News </span>
        <span class="rt-section-dot"></span>
        <span class="rt-section-line"></span>
    </h2>
    <div class="row rt-gutter-10">
        {{ range ( shuffle ( where .Site.RegularPages "Type" "posts" | first 6 )) }}
        <div class="col-6">
            <div class="rt-post-grid post-grid-md popular grid-meta">
                <div class="post-img">
                    <a href="{{ .Permalink }}">
                        {{ with .Param "featured_image" }}
                        <img class="lazyload" 
                            src="{{ . }}" 
                            alt="{{ $.Title }}" 
                            width="343"
                            height="250"
                        />
                        {{ else }}
                        <img class="lazyload"
                            src="/images/gallery/post-sm_2.jpg"
                            alt="{{ .Title }}"
                            width="343"
                            height="250"
                        />
                        {{end}}
                    </a>
                </div>
                <div class="post-content">
                    <a href="{{ $.Site.BaseURL }}category/{{ .Params.category }}" class="rt-post-cat-normal">{{ .Params.category }}</a>
                    <h4 class="post-title">
                        <a href="{{ .Permalink }}"> {{ .Title | truncate 25 }} </a>
                    </h4>
                    {{- partial "published-date.html" . -}}
                </div>
            </div>
        </div>
        <!-- col-6 -->
        {{ end }}
    </div>
    <!-- end row -->
</div>