<div class="post-banner-style-1">
    <a href="#" class="image-link">&nbsp;</a>
    <div class="post-content">
        <div class="logo">
            <a href="{{ .Site.BaseURL }}">
                <img
                    src="/images/logo/logo-light.png"
                    alt="logo"
                    width="162"
                    height="52"
                />
            </a>
        </div>
        <h3 class="title">
            <a href="{{ .Site.BaseURL }}">
                A Friend
                <span>For Your PC </span>
            </a>
        </h3>
        <div class="btn-wrap">
            <a href="{{ .Site.Params.socialOptions.youtube }}" class="btn-white-sm"> Videos </a>
        </div>
    </div>
</div>