<div class="col-xl-3 col-lg-8 mx-auto sticky-coloum-item">
	<div class="rt-sidebar">
		<div class="sidebar-wrap mb--40">
			{{- partial "sidebar/subscribe.html" . -}}
		</div>
		<!-- end sidebar wrap -->

		<div class="sidebar-wrap mb--40">
			{{ partial "taxonomy/taxonomy-categories.html" . }}
		</div>
		<!-- end slidebar wrap  -->

		<div class="sidebar-wrap mb--40">
			{{- partial "ads/ad-banner-sidebar.html" . -}}
		</div>
		<!-- end slidebar wrap  -->

		{{ partial "sidebar/popular-news.html" . }}
		<!-- end slidebar wrap  -->
	</div>
	<!-- end rt-sidebar -->
</div>
