<div class="sidebar-wrap mb--40">
    <h2 class="rt-section-heading style-2 mb--30">
        <span class="rt-section-text">Stay Connected </span>
        <span class="rt-section-dot"></span>
        <span class="rt-section-line"></span>
    </h2>
    <ul class="social-connection">
        <li>
            <a href="https://www.facebook.com/">
                <i class="fab fa-facebook-f facebook"></i>
                <span class="text"><span>15,985</span> Fans</span>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/">
                <i class="fab fa-twitter twitter"></i>
                <span class="text"><span>20,751</span> Follower</span>
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/">
                <i class="fab fa-youtube youtube"></i>
                <span class="text"><span>35,999</span> Subscriber</span>
            </a>
        </li>
        <li>
            <a href="https://cloud.google.com/">
                <i class="fas fa-cloud cloud"></i>
                <span class="text"><span>35,999</span> Subscriber</span>
            </a>
        </li>
        <li>
            <a href="https://dribbble.com/">
                <i class="fab fa-dribbble dribbble"></i>
                <span class="text"><span>35,999</span> Subscriber</span>
            </a>
        </li>
    </ul>
</div>
<!-- end slidebar wrap  -->