<div
				class="subscribe-box-style-1"
				data-bg-image="/images/elements/element_5.png"
			>
				<div class="subscribe-content">
					<h3 class="title">Subscribe To Our Newsletter</h3>
					<p>No spam, notifications only about new products, updates.</p>
					<form action="#" class="rt-contact-form subscribe-form rt-form">
						<div class="rt-form-group">
							<input
								type="email"
								class="form-control rt-form-control"
								placeholder="E-mail *"
								name="email"
								id="email_1"
								data-error="Email field is required"
								required
							/>
						</div>
						<button type="submit" class="rt-submit-btn">Subscribe Now</button>
						<div class="form-response"></div>
					</form>
					<div class="small-text">Don’t worry, we don’t spam</div>
				</div>
			</div>