<figure class="rt-blockquote-area">
    <blockquote class="rt-blockquote">
        <i class="fas fa-quote-left"></i>
        <p>
            when an unknown printer took a galley of type and
            scrambled it to make a type area specimen book It has
            survived not only five centuries.but also the leap
            introduce electronic typesetting, remaining essentially
            unchanged.
        </p>
        <span class="name">Willum Skeener</span>
    </blockquote>
</figure>