    <ul>
        <li class="main-menu__nav_sub active">
            <a class="animation" href="{{ .Site.BaseURL }}">Home</a>
        </li>
        <li class="main-menu__nav_sub list">
            <a class="animation" href="javascript:void(0)">How To</a>
        </li>
        <li class="main-menu__nav_sub drop-down list">
            <a class="animation" href="javascript:void(0)">Categories </a>
            <ul class="main-menu__dropdown">
                {{range ($.Site.GetPage "taxonomyTerm" "category").Pages }}
                <li><a class="menu-item_link" href="{{.Permalink}}">{{.Title}}</a></li>
                {{end}}

            </ul>
        </li>
        <li class="main-menu__nav_sub drop-down list">
            <a class="animation" href="javascript:void(0)">Pages</a>
            <ul class="main-menu__dropdown">
                <li><a href="about.html">About Us</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="404.html">404</a></li>
            </ul>
        </li>
        <li class="main-menu__nav_sub list">
            <a class="animation" href="javascript:void(0)">GitHub</a>
            
        </li>
    </ul>