<h2 class="rt-section-heading style-2 mb--30">
    <span class="rt-section-text">Hot Categories </span>
    <span class="rt-section-dot"></span>
    <span class="rt-section-line"></span>
</h2>
<ul class="rt-categories">

        
    {{- range first 5 site.Taxonomies.category.ByCount }}
    <li>
        <a href="{{ .Page.RelPermalink }}" data-bg-image="/images/cat/{{- .Page.LinkTitle }}.jpg">
            <span class="cat-name">{{- .Page.LinkTitle }}</span>
            <span class="count">{{ .Count }}</span>
        </a>
    </li>
    {{- end }}

</ul>