<div class="footer-widget">
						<h3 class="footer-widget-title">Recent Posts</h3>

						<!--  start footer-post-list -->
						<div class="footer-post-list">
                            {{ range ( where .Site.RegularPages "Type" "posts" | first 2 ) }}
							<div class="item mb--30">
								<div class="rt-post post-sm white-style">
									<div class="post-img">
										<a href="{{ .Permalink }}">
                                            {{ $image := resources.Get ( printf "images/thumbs/%s" .Params.featured_image ) }}
                                            {{ with $image }}
                                            <img class="lazyload" 
                                                src="{{ ( $image.Resize "100x100" ).RelPermalink }}"
                                                alt="{{ .Title }}" 
                                                width="100"
                                                height="100"
                                            />
                                            {{ else }}
                                            <img class="lazyload"
                                                src="/images/gallery/default.jpg"
                                                alt="{{ .Title }}"
                                                width="100"
                                                height="100"
                                            />
                                            {{end}}
										</a>
									</div>
									<div class="ms-3 post-content">
										<h4 class="post-title">
											<a href="{{ .Permalink }}">
												{{ .Title }}
											</a>
										</h4>
										{{- partial "body/published-date.html" . -}}
									</div>
								</div>
							</div>
                            {{ end }}
						</div>
						<!--  end footer-post-list -->
					</div>