<ul class="footer-social gutter-15">
    <li class="social-item">
        <a
            href="{{ .Site.Params.socialOptions.facebook }}"
            class="social-link fb"
            target="_blank"
        >
            <i class="fab fa-facebook-f"></i>
        </a>
    </li>
    <li class="social-item">
        <a
            href="{{ .Site.Params.socialOptions.twitter }}"
            class="social-link tw"
            target="_blank"
        >
            <i class="fab fa-twitter"></i>
        </a>
    </li>
    <li class="social-item">
        <a
            href="{{ .Site.Params.socialOptions.youtube }}"
            class="social-link vm"
            target="_blank"
        >
            <i class="fab fa-youtube"></i>
        </a>
    </li>
    <li class="social-item">
        <a
            href="{{ .Site.Params.socialOptions.github }}"
            class="social-link pn"
            target="_blank"
        >
            <i class="fab fa-github"></i>
        </a>
    </li>
    <li class="social-item">
        <a
            href="{{ .Site.Params.socialOptions.telegram }}"
            class="social-link wh"
            target="_blank"
        >
            <i class="fab fa-telegram"></i>
        </a>
    </li>
</ul>