{{ define "main" }}
<div class="error-section error-layout-1 section-padding-2">
    <div class="container">
       <div class="row">
          <div class="col-lg-8 mx-auto wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="800ms" style="visibility: visible; animation-duration: 800ms; animation-delay: 300ms; animation-name: fadeInUp;">
             <div class="error-area-style-1 text-center">
                <div class="item-img">
                   <img src="/images/elements/404.png" alt="404" width="758" height="489">
                </div>
                <div class="item-content">
                   <h2 class="title">
                      Oops... Page Not Found!
                   </h2>
                   <p>
                      Mhen an unknown printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries.
                   </p>
                </div>
                <div class="btn-wrap">
                   <a href="{{ .Site.BaseURL }}" class="rt-btn-primary ">Back To Home </a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
{{ end }}