{{ define "main" }}
<!-- start feature-section-style-1  -->
{{- partial "body/pinned-section.html" . -}}
<!-- end feature-section-style-1  -->

<!-- start main post section style 1 -->
{{- partial "body/main-post-section.html" . -}}
<!-- end main post section style 1 -->

<!-- start rt ad banner -->
{{- partial "ads/ad-banner-1.html" . -}}
<!-- end rt ad banner -->

<!-- start top stories style 1 -->
{{- partial "body/top-stories.html" . -}}
<!-- end top stories style 1 -->

<!-- start what's new section -->
{{- partial "body/hot.html" . -}}
<!-- end what's new section -->

<!-- start video section style 1 -->
{{- partial "body/video-section.html" . -}}
<!-- end video section style 1 -->

<!-- start news and feature  section -->
{{- partial "body/news-and-featured.html" . -}}
<!-- end news and feature section -->

<!-- start subscribe section -->
{{- partial "body/subscribe.html" . -}}
<!-- end subscribe section -->
{{ end }}
