<section
	class="rt-feature-section feature-section-style-1 overflow-hidden"
	data-bg-image="/images/elements/element_1.png"
>
	<div class="container">
		<div class="row gutter-24">
			{{ range first 4 (where (where .Site.RegularPages "Type" "in"
			site.Params.mainSections) ".Params.featured-sm" "=" true) }} 
			<div
				class="col-xl-3 col-md-6 wow fadeInUp"
				data-wow-delay="200ms"
				data-wow-duration="800ms"
			>
				<div class="rt-post post-sm style-1">
					<div class="post-img">
						<a href="{{ .Page.RelPermalink }}">
							{{ with .Param "featured_image" }}
							<img src="{{ . }}" alt="{{ $.Title }}" width="100" height="100" />
							{{ else }}
							<img
								src="/images/gallery/post-sm_2.jpg"
								alt="{{ $.Title }}"
								width="100"
								height="100"
							/>
							{{end}}
						</a>
					</div>
					<div class="ms-4 post-content">
						<a
							href="{{ $.Site.BaseURL }}category/{{ .Params.category }}"
							class="rt-post-cat-normal"
							>{{ .Params.category }}</a
						>
						<h3 class="post-title">
							<a href="{{ .Page.RelPermalink }}"> {{ .Page.Title }} </a>
						</h3>
						
						{{- partial "published-date.html" . -}}
					</div>
				</div>
			</div>
			{{ end }}
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
