<div class="row mt--60">
	<div class="col-12">
		<div class="wrap">
			<div class="featured-tab-title">
				<h2 class="rt-section-heading">
					<span class="rt-section-text">Featured Post </span>
					<span class="rt-section-dot"></span>
					<span class="rt-section-line"></span>
				</h2>

				<ul class="nav rt-tab-menu" id="myTab-2" role="tablist">
					<li class="menu-item" role="presentation">
						<a
							class="menu-link active"
							id="menu-11-tab"
							data-bs-toggle="tab"
							href="#menu-11"
							role="tab"
							aria-controls="menu-11"
							aria-selected="true"
						>
							World
						</a>
					</li>
					<li class="menu-item" role="presentation">
						<a
							class="menu-link"
							id="menu-22-tab"
							data-bs-toggle="tab"
							href="#menu-22"
							role="tab"
							aria-controls="menu-22"
							aria-selected="false"
						>
							Travel
						</a>
					</li>
					<li class="menu-item" role="presentation">
						<a
							class="menu-link"
							id="menu-33-tab"
							data-bs-toggle="tab"
							href="#menu-33"
							role="tab"
							aria-controls="menu-33"
							aria-selected="false"
						>
							Food
						</a>
					</li>
					<li class="menu-item" role="presentation">
						<a
							class="menu-link"
							id="menu-44-tab"
							data-bs-toggle="tab"
							href="#menu-44"
							role="tab"
							aria-controls="menu-44"
							aria-selected="false"
						>
							Technology</a
						>
					</li>
				</ul>
				<!-- end nav tab -->
			</div>
			<!-- end featured-tab-title -->

			<div class="tab-content" id="myTabContent-2">
				<div
					class="tab-pane tab-item animated fadeInUp show active"
					id="menu-11"
					role="tabpanel"
					aria-labelledby="menu-11-tab"
				>
					<div class="row gutter-24">
						<div class="col-xl-4 col-lg-6">
							<div class="rt-post-overlay rt-post-overlay-md">
								<div class="post-img">
									<a href="single-post1.html" class="img-link">
										<img
											src="/images/gallery/post-xl_3.jpg"
											alt="post-xl-3"
											width="900"
											height="600"
										/>
									</a>
								</div>
								<div class="post-content">
									<a href="life-style.html" class="music">Music</a>
									<h3 class="post-title">
										<a href="single-post1.html">
											African ations Are Singing To Save Their Wildlife
										</a>
									</h3>

									<div class="post-meta">
										<ul>
											<li>
												<span class="rt-meta">
													by
													<a href="author.html" class="name">Willum Skeem</a>
												</span>
											</li>
											<li>
												<span class="rt-meta">
													<i class="far fa-calendar-alt icon"></i>
													DECEMBER 9, 2022
												</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- end col -->

						<div class="col-xl-4 col-lg-6">
							<div class="post-grid-md-list gutter-24">
								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-md_4.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="technology.html" class="rt-post-cat-normal"
												>Technology</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->

								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-grid-md_7.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="life-style.html" class="rt-post-cat-normal"
												>Travel</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->

								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-grid-md_8.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="life-style.html" class="rt-post-cat-normal"
												>Food</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->
							</div>
							<!-- end post grid md list -->
						</div>
						<!-- end col -->

						<div class="col-xl-4 col-lg-6">
							<div class="post-grid-md-list gutter-24">
								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-grid-md_9.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="life-style.html" class="rt-post-cat-normal"
												>Travel</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->

								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-grid-md_10.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="technology.html" class="rt-post-cat-normal"
												>Technology</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->

								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-grid-md_11.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="life-style.html" class="rt-post-cat-normal"
												>World</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->
							</div>
							<!-- end post grid md list -->
						</div>
						<!-- end col -->
					</div>
					<!-- end innrer row -->
				</div>
				<!-- end ./tab item -->

				<div
					class="tab-pane tab-item animated fadeInUp"
					id="menu-22"
					role="tabpanel"
					aria-labelledby="menu-22-tab"
				>
					<div class="row gutter-24">
						<div class="col-xl-4 col-lg-6">
							<div class="rt-post-overlay rt-post-overlay-md">
								<div class="post-img">
									<a href="single-post1.html" class="img-link">
										<img
											src="/images/gallery/post-xl_3.jpg"
											alt="post-xl-3"
											width="900"
											height="600"
										/>
									</a>
								</div>
								<div class="post-content">
									<h3 class="post-title">
										<a href="single-post1.html">
											African ations Are Singing To Save Their Wildlife
										</a>
									</h3>

									<div class="post-meta">
										<ul>
											<li>
												<span class="rt-meta">
													by
													<a href="author.html" class="name">Willum Skeem</a>
												</span>
											</li>
											<li>
												<span class="rt-meta">
													<i class="far fa-calendar-alt icon"></i>
													DECEMBER 9, 2022
												</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- end col -->

						<div class="col-xl-4 col-lg-6">
							<div class="post-grid-md-list gutter-24">
								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-md_4.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="technology.html" class="rt-post-cat-normal"
												>Technology</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->

								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-grid-md_7.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="life-style.html" class="rt-post-cat-normal"
												>Travel</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->

								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-grid-md_8.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="life-style.html" class="rt-post-cat-normal"
												>Food</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->
							</div>
							<!-- end post grid md list -->
						</div>
						<!-- end col -->

						<div class="col-xl-4 col-lg-6">
							<div class="post-grid-md-list gutter-24">
								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-grid-md_9.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="life-style.html" class="rt-post-cat-normal"
												>Travel</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->

								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-grid-md_10.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="technology.html" class="rt-post-cat-normal"
												>Technology</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->

								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-grid-md_11.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="life-style.html" class="rt-post-cat-normal"
												>World</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->
							</div>
							<!-- end post grid md list -->
						</div>
						<!-- end col -->
					</div>
					<!-- end innrer row -->
				</div>
				<!-- end ./tab item -->

				<div
					class="tab-pane tab-item animated fadeInUp"
					id="menu-33"
					role="tabpanel"
					aria-labelledby="menu-33-tab"
				>
					<div class="row gutter-24">
						<div class="col-xl-4 col-lg-6">
							<div class="rt-post-overlay rt-post-overlay-md">
								<div class="post-img">
									<a href="single-post1.html" class="img-link">
										<img
											src="/images/gallery/post-xl_3.jpg"
											alt="post-xl-3"
											width="900"
											height="600"
										/>
									</a>
								</div>
								<div class="post-content">
									<a href="life-style.html" class="music">Music</a>
									<h3 class="post-title">
										<a href="single-post1.html">
											African ations Are Singing To Save Their Wildlife
										</a>
									</h3>

									<div class="post-meta">
										<ul>
											<li>
												<span class="rt-meta">
													by
													<a href="author.html" class="name">Willum Skeem</a>
												</span>
											</li>
											<li>
												<span class="rt-meta">
													<i class="far fa-calendar-alt icon"></i>
													DECEMBER 9, 2022
												</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- end col -->

						<div class="col-xl-4 col-lg-6">
							<div class="post-grid-md-list gutter-24">
								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-md_4.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="technology.html" class="rt-post-cat-normal"
												>Technology</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->

								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-grid-md_7.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="life-style.html" class="rt-post-cat-normal"
												>Travel</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->

								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-grid-md_8.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="life-style.html" class="rt-post-cat-normal"
												>Food</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->
							</div>
							<!-- end post grid md list -->
						</div>
						<!-- end col -->

						<div class="col-xl-4 col-lg-6">
							<div class="post-grid-md-list gutter-24">
								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-grid-md_9.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="life-style.html" class="rt-post-cat-normal"
												>Travel</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->

								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-grid-md_10.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="technology.html" class="rt-post-cat-normal"
												>Technology</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->

								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-grid-md_11.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="life-style.html" class="rt-post-cat-normal"
												>World</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->
							</div>
							<!-- end post grid md list -->
						</div>
						<!-- end col -->
					</div>
					<!-- end innrer row -->
				</div>
				<!-- end ./tab item -->

				<div
					class="tab-pane tab-item animated fadeInUp"
					id="menu-44"
					role="tabpanel"
					aria-labelledby="menu-44-tab"
				>
					<div class="row gutter-24">
						<div class="col-xl-4 col-lg-6">
							<div class="rt-post-overlay rt-post-overlay-md">
								<div class="post-img">
									<a href="single-post1.html" class="img-link">
										<img
											src="/images/gallery/post-xl_3.jpg"
											alt="post-xl-3"
											width="900"
											height="600"
										/>
									</a>
								</div>
								<div class="post-content">
									<a href="life-style.html" class="music">Music</a>
									<h3 class="post-title">
										<a href="single-post1.html">
											African ations Are Singing To Save Their Wildlife
										</a>
									</h3>

									<div class="post-meta">
										<ul>
											<li>
												<span class="rt-meta">
													by
													<a href="author.html" class="name">Willum Skeem</a>
												</span>
											</li>
											<li>
												<span class="rt-meta">
													<i class="far fa-calendar-alt icon"></i>
													DECEMBER 9, 2022
												</span>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- end col -->

						<div class="col-xl-4 col-lg-6">
							<div class="post-grid-md-list gutter-24">
								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-md_4.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="technology.html" class="rt-post-cat-normal"
												>Technology</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->

								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-grid-md_7.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="life-style.html" class="rt-post-cat-normal"
												>Travel</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->

								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-grid-md_8.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="life-style.html" class="rt-post-cat-normal"
												>Food</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->
							</div>
							<!-- end post grid md list -->
						</div>
						<!-- end col -->

						<div class="col-xl-4 col-lg-6">
							<div class="post-grid-md-list gutter-24">
								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-grid-md_9.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="life-style.html" class="rt-post-cat-normal"
												>Travel</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->

								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-grid-md_10.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="technology.html" class="rt-post-cat-normal"
												>Technology</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->

								<div class="item">
									<div class="rt-post post-md style-8">
										<div class="post-img">
											<a href="single-post1.html">
												<img
													src="/images/gallery/post-grid-md_11.jpg"
													alt="post"
													width="343"
													height="250"
												/>
											</a>
										</div>
										<div class="post-content">
											<a href="life-style.html" class="rt-post-cat-normal"
												>World</a
											>
											<h4 class="post-title">
												<a href="single-post1.html">
													After Moon They Land CloseSpace Really?
												</a>
											</h4>
											<span class="rt-meta">
												<i class="far fa-calendar-alt icon"></i>
												DECEMBER 9, 2022
											</span>
										</div>
									</div>
								</div>
								<!-- end rt-post post-md item -->
							</div>
							<!-- end post grid md list -->
						</div>
						<!-- end col -->
					</div>
					<!-- end innrer row -->
				</div>
				<!-- end ./tab item -->
			</div>
			<!-- end /.tab-content -->
		</div>
		<!-- end  wrap  -->
	</div>
	<!-- end col  -->
</div>
