<section class="rt-main-post-section main-post-section-style-1 section-padding">
	<div class="container">
		<div class="row gutter-24">
			<div
				class="col-xl-7 col-lg-6 wow fadeInUp"
				data-wow-delay="200ms"
				data-wow-duration="800ms"
			>
				<div class="rt-post-overlay rt-post-overlay-xl layout-1">
					<div class="post-img">
						<a href="single-post1.html" class="img-link">
							<img
								src="/images/gallery/post-xl_1.jpg"
								alt="post-xl_1"
								width="900"
								height="600"
							/>
						</a>
					</div>
					<div class="post-content">
						<a href="life-style.html" class="fashion">Fashion</a>
						<h3 class="post-title bold-underline">
							<a href="single-post1.html">
								How childhood viral infections may year 2021 Section
							</a>
						</h3>
						<div class="post-meta">
							<ul>
								<li>
									<span class="rt-meta">
										by
										<a href="author.html" class="name">Willum Skeem</a>
									</span>
								</li>
								<li>
									<span class="rt-meta">
										<i class="far fa-calendar-alt icon"></i>
										DECEMBER 9, 2022
									</span>
								</li>
								<li>
									<span class="rt-meta">
										<i class="far fa-comments icon"></i>
										<a href="#"> 3,250</a>
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- end col -->

			<div class="col-xl-5 col-lg-6">
				<div class="row gutter-24">
					{{ range ( where .Site.RegularPages "Type" "posts" | first 3 ) }}
					<div
						class="col-12 wow fadeInUp"
						data-wow-delay="400ms"
						data-wow-duration="800ms"
					>
						<div class="rt-post post-md style-10">
							<div class="post-img">
								<a href="{{ .Permalink }}">
									{{ with .Param "featured_image" }}
									<img
										src="{{ . }}" alt="{{ $.Title }}"
										width="696"
										height="491"
									/>
									{{ else }}
									<img
										src="/images/gallery/post-lg_2.jpg"
										alt="{{ .Title }}"
										width="696"
										height="491"
									/>
									{{end}}
								</a>
							</div>
							<div class="post-content">
								<a
									href="{{ $.Site.BaseURL }}category/{{ .Params.category }}"
									class="{{ .Params.category }}"
									>{{ .Params.category }}</a
								>
								<h3 class="post-title">
									<a href="{{ .Permalink }}"> {{ .Title }} </a>
								</h3>
								{{ $dateTime := .PublishDate.Format "2006-01-02" }} {{
								$dateFormat := .Site.Params.dateFormat | default "January 2,2006" }}
								<span class="rt-meta">
									<i class="far fa-calendar-alt icon"></i>
									{{ .PublishDate.Format $dateFormat }}
								</span>
							</div>
						</div>
					</div>
					<!-- end col -->
					{{end}}
					<!-- end col -->
				</div>
			</div>
			<!-- end col -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
