<div class="rt-mobile-header mobile-sticky-on">
	<div id="mobile-sticky-placeholder"></div>
	<!-- end mobile-sticky-placeholder -->

	<div class="mobile-top-bar" id="mobile-top-bar">
		<ul class="mobile-top-list">
			<li>
				<span class="rt-meta">
					<i class="far fa-calendar-alt icon"></i>
					<span class="currentDate">DECEMBER 9, 2022</span>
				</span>
			</li>
			<li>
				<span class="rt-meta">
					<i class="fas fa-map-marker-alt icon"></i>
					Chicago 12, Melborne City, USA
				</span>
			</li>
		</ul>
	</div>
	<!-- end mobile-top-bar -->

	<div class="mobile-menu-bar-wrap" id="mobile-menu-bar-wrap">
		<div class="mobile-menu-bar">
			<div class="logo">
				<a href="index.html">
					<img
						src="media/logo/logo-dark.png"
						alt="T4Mag"
						width="162"
						height="52"
					/>
				</a>
			</div>
			<span class="sidebarBtn">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</span>
		</div>
		<div class="rt-slide-nav">
			<div class="offscreen-navigation">
				<nav class="menu-main-primary-container">
					<ul class="menu">
						<li class="list menu-item-has-children">
							<a class="animation" href="javascript:void(0)">Home</a>
							<ul class="main-menu__dropdown sub-menu">
								<li><a href="index.html">Home 01 - Main</a></li>
								<li><a href="index2.html">Home 02 - Technology</a></li>
								<li><a href="index3.html">Home 03 - Gaming</a></li>
								<li>
									<a href="index4.html">Home 04 - Illustration</a>
								</li>
								<li><a href="index5.html">Home 05 - Newspaper</a></li>
								<li><a href="index6.html">Home 06 - Magazine</a></li>
								<li><a href="index7.html">Home 07 - Sports</a></li>
								<li><a href="index8.html">Home 08 - Travels</a></li>
								<li><a href="index9.html">Home 09 - Fitness</a></li>
							</ul>
						</li>
						<li class="list menu-item-has-children">
							<a class="animation" href="javascript:void(0)">How To</a>
							<ul class="main-menu__dropdown sub-menu">
								<li class="list menu-item-has-children">
									<a href="javascript:void(0)"> Post Layout </a>
									<ul class="main-menu__dropdown sub-menu">
										<li>
											<a href="single-post1.html">Single Post 01</a>
										</li>
										<li>
											<a href="single-post2.html">Single Post 02</a>
										</li>
										<li>
											<a href="single-post3.html">Single Post 03</a>
										</li>
									</ul>
								</li>
								<li><a href="author.html">Author Deatils</a></li>
							</ul>
						</li>
						<li class="list menu-item-has-children">
							<a class="animation" href="javascript:void(0)">Categories</a>
							<ul class="main-menu__dropdown sub-menu">
								<li><a href="life-style.html">Life Style</a></li>
								<li><a href="technology.html">Technology</a></li>
								<li><a href="gaming.html">Gaming</a></li>
								<li><a href="graphics.html">Graphics</a></li>
								<li><a href="politics.html">Politics</a></li>
							</ul>
						</li>
						<li class="list menu-item-has-children">
							<a class="animation" href="javascript:void(0)">Pages</a>
							<ul class="main-menu__dropdown sub-menu">
								<li><a href="about.html">About Us</a></li>
								<li><a href="contact.html">Contact Us</a></li>
								<li><a href="404.html">404</a></li>
							</ul>
						</li>
						<li class="list menu-item-has-children">
							<a class="animation" href="javascript:void(0)">GitHub</a>
							<ul class="main-menu__dropdown sub-menu">
								<li><a href="shop.html">Shop</a></li>
								<li><a href="single-shop.html">Shop Deatils</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
