<!-- Dependency Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/appear.min.js"></script>
<script src="/js/swiper.min.js"></script>
<script src="/js/masonry.min.js"></script>
<script src="/js/magnific-popup.min.js"></script>
<script src="/js/resize-sensor.min.js"></script>
<script src="/js/theia-sticky-sidebar.min.js"></script>
<script src="/js/validator.min.js"></script>
<script src="/js/tween-max.js"></script>
<script src="/js/lazysizes.min.js"></script>
<script src="/js/wow.min.js"></script>

<!-- custom -->
<script src="/js/app.js"></script>
{{ if (findRE "<pre" .Content 1) }}
    <script src="/js/code-copy.js"></script>
{{ end }}

<script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register("/service-worker.js")
      .then((registration) => {
        console.log("Service worker registration successful, scope is:", registration.scope);
      })
      .catch((error) => {
        console.log("Service worker registration failed, error:", error);
      });
    }
  </script>
