<!-- Dependency Scripts -->
<script src="dependencies/jquery/jquery.min.js"></script>
<script src="dependencies/popper.js/popper.min.js"></script>
<script src="dependencies/bootstrap/js/bootstrap.min.js"></script>
<script src="dependencies/appear/appear.min.js"></script>
<script src="dependencies/swiper/js/swiper.min.js"></script>
<script src="dependencies/masonry/masonry.min.js"></script>
<script src="dependencies/magnific-popup/js/magnific-popup.min.js"></script>
<script src="dependencies/theia-sticky-sidebar/resize-sensor.min.js"></script>
<script src="dependencies/theia-sticky-sidebar/theia-sticky-sidebar.min.js"></script>
<script src="dependencies/validator/validator.min.js"></script>
<script src="dependencies/tween-max/tween-max.js"></script>
<script src="dependencies/wow/js/wow.min.js"></script>

<!-- custom -->
<script src="/js/app.js"></script>
