<div class="col-xl-3 col-lg-8 mx-auto sticky-coloum-item">
	<div class="rt-sidebar">
		<div class="sidebar-wrap mb--40">
			<div
				class="subscribe-box-style-1"
				data-bg-image="/images/elements/element_5.png"
			>
				<div class="subscribe-content">
					<h3 class="title">Subscribe To Our Newsletter</h3>
					<p>No spam, notifications only about new products, updates.</p>
					<form action="#" class="rt-contact-form subscribe-form rt-form">
						<div class="rt-form-group">
							<input
								type="email"
								class="form-control rt-form-control"
								placeholder="E-mail *"
								name="email"
								id="email_1"
								data-error="Email field is required"
								required
							/>
						</div>
						<button type="submit" class="rt-submit-btn">Subscribe Now</button>
						<div class="form-response"></div>
					</form>
					<div class="small-text">Don’t worry, we don’t spam</div>
				</div>
			</div>
		</div>
		<!-- end sidebar wrap -->

		<div class="sidebar-wrap mb--40">
			<h2 class="rt-section-heading style-2 mb--30">
				<span class="rt-section-text">Hot Categories </span>
				<span class="rt-section-dot"></span>
				<span class="rt-section-line"></span>
			</h2>
			<ul class="rt-categories">
				<li>
					<a href="gaming.html" data-bg-image="/images/gallery/cat_1.jpg">
						<span class="cat-name">Sports</span>
						<span class="count">59</span>
					</a>
				</li>
				<li>
					<a href="life-style.html" data-bg-image="/images/gallery/cat_2.jpg">
						<span class="cat-name">World</span>
						<span class="count">12</span>
					</a>
				</li>
				<li>
					<a href="technology.html" data-bg-image="/images/gallery/cat_3.jpg">
						<span class="cat-name">Technology</span>
						<span class="count">59</span>
					</a>
				</li>
				<li>
					<a href="life-style.html" data-bg-image="/images/gallery/cat_4.jpg">
						<span class="cat-name">Food</span>
						<span class="count">12</span>
					</a>
				</li>
				<li>
					<a href="life-style.html" data-bg-image="/images/gallery/cat_5.jpg">
						<span class="cat-name">Travel</span>
						<span class="count">12</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- end slidebar wrap  -->

		<div class="sidebar-wrap mb--40">
			{{- partial "ad-banner-sidebar.html" . -}}
		</div>
		<!-- end slidebar wrap  -->

		<div class="sidebar-wrap">
			<h2 class="rt-section-heading style-2 mb--30">
				<span class="rt-section-text">Popular News </span>
				<span class="rt-section-dot"></span>
				<span class="rt-section-line"></span>
			</h2>
			<div class="row rt-gutter-10">
				{{ range ( shuffle ( where .Site.RegularPages "Type" "posts" | first 6 )) }}
				<div class="col-6">
					<div class="rt-post-grid post-grid-md popular grid-meta">
						<div class="post-img">
							<a href="{{ .Permalink }}">
								{{ with .Param "featured_image" }}
								<img 
									src="{{ . }}" 
									alt="{{ $.Title }}" 
									width="343"
									height="250"
								/>
								{{ else }}
								<img
									src="/images/gallery/post-sm_2.jpg"
									alt="{{ .Title }}"
									width="343"
									height="250"
								/>
								{{end}}
							</a>
						</div>
						<div class="post-content">
							<a href="{{ $.Site.BaseURL }}category/{{ .Params.category }}" class="rt-post-cat-normal">{{ .Params.category }}</a>
							<h4 class="post-title">
								<a href="{{ .Permalink }}"> {{ .Title | truncate 25 }} </a>
							</h4>
							{{- partial "published-date.html" . -}}
						</div>
					</div>
				</div>
				<!-- col-6 -->
				{{ end }}
			</div>
			<!-- end row -->
		</div>
		<!-- end slidebar wrap  -->
	</div>
	<!-- end rt-sidebar -->
</div>
