<ul class="social-share-style-1">
    <li>
        <a
            class="fb"
            target="_blank"
            href="https://www.facebook.com/"
        >
            <i class="social-icon fab fa-facebook-f"></i>
        </a>
    </li>
    <li>
        <a
            class="tw"
            target="_blank"
            href="https://twitter.com/"
        >
            <i class="social-icon fab fa-twitter"></i>
        </a>
    </li>
    <li>
        <a
            class="yu"
            target="_blank"
            href="https://www.youtube.com/"
        >
            <i class="social-icon fab fa-youtube"></i>
        </a>
    </li>
    <li>
        <a
            class="dr"
            target="_blank"
            href="https://dribbble.com/"
        >
            <i class="social-icon fab fa-dribbble"></i>
        </a>
    </li>
    <li>
        <a
            class="dw"
            target="_blank"
            href="https://cloud.google.com/"
        >
            <i class="social-icon fas fa-cloud"></i>
        </a>
    </li>

    <li>
        <a
            class="wh"
            target="_blank"
            href="https://www.whatsapp.com/"
        >
            <i class="social-icon fab fa-whatsapp"></i>
        </a>
    </li>
</ul>