<section class="top-stories-style-1 section-padding motion-effects-wrap">
	<ul class="element-list d-none d-xl-block">
		<li class="motion-effects1">
			<img
				class="wow fadeInLeft"
				data-wow-delay="200ms"
				data-wow-duration="800ms"
				src="/images/elements/element_2.png"
				alt="element_1"
				width="88"
				height="58"
			/>
		</li>
		<li>
			<img
				class="wow fadeInDown"
				data-wow-delay="400ms"
				data-wow-duration="800ms"
				src="/images/elements/element_3.png"
				alt="element_2"
				width="182"
				height="72"
			/>
		</li>
		<li>
			<img
				class="wow fadeInRight"
				data-wow-delay="600ms"
				data-wow-duration="800ms"
				src="/images/elements/element_4.png"
				alt="element_3"
				width="199"
				height="128"
			/>
		</li>
	</ul>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="rt-section-heading">
					<span class="rt-section-text">Top Stories </span>
					<span class="rt-section-dot"></span>
					<span class="rt-section-line"></span>
				</h2>
			</div>
		</div>
		<div class="row gutter-24">
			<div
				class="col-xl-3 col-md-6 wow fadeInUp"
				data-wow-delay="200ms"
				data-wow-duration="800ms"
			>
				<div class="rt-post-grid grid-meta">
					<div class="post-img">
						<a href="single-post1.html">
							<img
								src="/images/gallery/post-md_1.jpg"
								alt="post"
								width="551"
								height="431"
							/>
						</a>
					</div>
					<div class="post-content">
						<a href="gaming.html" class="rt-post-cat-normal">Music</a>
						<h3 class="post-title">
							<a href="single-post1.html">
								After The Moon How Close gear Is Space Travel Really?
							</a>
						</h3>
						<div class="post-meta">
							<ul>
								<li>
									<span class="rt-meta">
										by
										<a href="author.html" class="name">Willum Skeem</a>
									</span>
								</li>
								<li>
									<span class="rt-meta">
										<i class="far fa-calendar-alt icon"></i>
										DECEMBER 9, 2022
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- end col -->

			<div
				class="col-xl-3 col-md-6 wow fadeInUp"
				data-wow-delay="400ms"
				data-wow-duration="800ms"
			>
				<div class="rt-post-grid grid-meta">
					<div class="post-img">
						<a href="single-post1.html">
							<img
								src="/images/gallery/post-md_2.jpg"
								alt="post"
								width="551"
								height="431"
							/>
						</a>
					</div>
					<div class="post-content">
						<a href="life-style.html" class="rt-post-cat-normal">Animal</a>
						<h3 class="post-title">
							<a href="single-post1.html">
								After The Moon How Close gear Is Space Travel Really?
							</a>
						</h3>
						<div class="post-meta">
							<ul>
								<li>
									<span class="rt-meta">
										by
										<a href="author.html" class="name">Willum Skeem</a>
									</span>
								</li>
								<li>
									<span class="rt-meta">
										<i class="far fa-calendar-alt icon"></i>
										DECEMBER 9, 2022
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- end col -->

			<div
				class="col-xl-3 col-md-6 wow fadeInUp"
				data-wow-delay="600ms"
				data-wow-duration="800ms"
			>
				<div class="rt-post-grid grid-meta">
					<div class="post-img">
						<a href="single-post1.html">
							<img
								src="/images/gallery/post-md_3.jpg"
								alt="post"
								width="551"
								height="431"
							/>
						</a>
					</div>
					<div class="post-content">
						<a href="life-style.html" class="rt-post-cat-normal">Travel</a>
						<h3 class="post-title">
							<a href="single-post1.html">
								After The Moon How Close gear Is Space Travel Really?
							</a>
						</h3>
						<div class="post-meta">
							<ul>
								<li>
									<span class="rt-meta">
										by
										<a href="author.html" class="name">Willum Skeem</a>
									</span>
								</li>
								<li>
									<span class="rt-meta">
										<i class="far fa-calendar-alt icon"></i>
										DECEMBER 9, 2022
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- end col -->

			<div
				class="col-xl-3 col-md-6 wow fadeInUp"
				data-wow-delay="800ms"
				data-wow-duration="800ms"
			>
				<div class="rt-post-grid grid-meta">
					<div class="post-img">
						<a href="single-post1.html">
							<img
								src="/images/gallery/post-md_4.jpg"
								alt="post"
								width="551"
								height="431"
							/>
						</a>
					</div>
					<div class="post-content">
						<a href="life-style.html" class="rt-post-cat-normal">Food</a>
						<h3 class="post-title">
							<a href="single-post1.html">
								After The Moon How Close gear Is Space Travel Really?
							</a>
						</h3>
						<div class="post-meta">
							<ul>
								<li>
									<span class="rt-meta">
										by
										<a href="author.html" class="name">Willum Skeem</a>
									</span>
								</li>
								<li>
									<span class="rt-meta">
										<i class="far fa-calendar-alt icon"></i>
										DECEMBER 9, 2022
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- end col -->
		</div>
		<!-- end row -->
	</div>
	<!-- end container -->
</section>
