<div class="col-xl-3 col-lg-8 mx-auto sticky-coloum-item">
	<div class="rt-sidebar sticky-wrap">

		{{ partial "sidebar/popular-circle.html" . }}
		<!-- end slidebar wrap  -->

		<div class="sidebar-wrap">
			<div class="post-banner-style-1">
				<a href="#" class="image-link">&nbsp;</a>
				<div class="post-content">
					<div class="logo">
						<a href="index.html">
							<img
								src="/images/logo/logo-light.png"
								alt="logo"
								width="162"
								height="52"
							/>
						</a>
					</div>
					<h3 class="title">
						<a href="#">
							A Friend
							<span>For Your PC </span>
						</a>
					</h3>
					<div class="btn-wrap">
						<a href="#" class="btn-white-sm"> shop now </a>
					</div>
				</div>
			</div>
		</div>
		<!-- end slidebar wrap  -->
	</div>
</div>
