<div class="author-box-style-1 mb--50">
    <div class="author-img">
        <img class="lazyload"
            src="media/gallery/author-img_1.jpg"
            alt="author-img_1"
            width="170"
            height="170"
        />
    </div>
    <div class="author-content">
        <h3 class="author-name">Mark Graham</h3>
        <span class="author-role">Admin</span>
        <p class="user-desc">
            Tthe leap into electronic typesetting, remaining
            essentiallyuncha opularisedthe with the release of
            Letrasetsheets containingthe leap electrtypesetting
            remaining essentially unchanged.
        </p>
        <ul class="social-style-5">
            <li>
                <a target="_blank" href="https://www.facebook.com/">
                    <i class="social-icon fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://twitter.com/">
                    <i class="social-icon fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.pinterest.com/">
                    <i class="fab fa-pinterest-p"></i>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.instagram.com/">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
</div>