<!DOCTYPE html>
<html lang="en">
	{{ $baseurl := .Site.BaseURL }}
	{{- partial "head/head.html" . -}}

	<body>
		<!-- Start wrapper -->
		<div id="wrapper" class="wrapper">
			<!-- start perloader -->
			{{- partial "preloader.html" . -}}
			<!-- end perloader -->

			<!-- Start main-content -->
			<div id="main_content" class="footer-fixed">
				<!-- Header -->
				{{- partial "header/header.html" . -}}
				<!-- end header -->

				<!-- start rt-mobile-header -->
				{{- partial "header/mobile-header.html" . -}}
				<!-- end rt-mobile-header -->

				<!-- Start Main -->
				<main>{{ block "main" . }}
					 
					{{ .Content }}	
				{{ end }}</main>
				<!-- End Main -->

				<!-- Start Footer -->
				{{- partial "footer/footer.html" . -}}
				<!-- End  Footer -->
			</div>
			<!-- End main-content -->

			<!-- Start  offcanvas menu -->
			{{- partial "navbar/off-canvas-menu.html" . -}}
			<!-- End  offcanvas menu -->

			<!-- Start Cart Wrap -->
			{{- partial "body/cart-wrap.html" . -}}
			<!-- End Cart Wrap -->

			<!-- Start Search  -->
			{{- partial "search.html" . -}}
			<!-- End Search -->

			<!-- theme-switch-box -->
			<div class="theme-switch-box-wrap">
				<div class="theme-switch-box">
					<span class="theme-switch-box__theme-status"
						><i class="fas fa-cog"></i
					></span>
					<label class="theme-switch-box__label" for="themeSwitchCheckbox">
						<input
							class="theme-switch-box__input"
							type="checkbox"
							name="themeSwitchCheckbox"
							id="themeSwitchCheckbox"
						/>
						<span class="theme-switch-box__main"></span>
					</label>
					<span class="theme-switch-box__theme-status"
						><i class="fas fa-moon"></i
					></span>
				</div>
			</div>
			<!-- end theme-switch-box -->

			<!-- start back to top -->
			<a href="javascript:void(0)" id="back-to-top">
				<i class="fas fa-angle-double-up"></i>
			</a>
			<!-- End back to top -->
		</div>
		<!-- End wrapper -->

		<!-- Scripts -->
		{{- partial "scripts.html" . -}}
	</body>
</html>
