{{ define "main" }}

	{{ $baseurl := .Site.BaseURL }}
	{{ $page := "single" }}
	{{ $title := .Title }}
	{{ $cat := .Params.category }}


	<!-- Start inner page Banner -->
		{{- partial "body/breadcrumbs.html" (dict "context" . "page" $page "title" $title "cat" $cat "baseurl" $baseurl) . -}}
	<!-- End inner page Banner -->

	<!-- start rt-sidebar-section-layout-2 -->
	<section class="rt-sidebar-section-layout-2">
		<div class="container">
		   <div class="row gutter-40 sticky-coloum-wrap">

			  <div class="col-xl-9 sticky-coloum-item">
				 <div class="rt-left-sidebar-sapcer-5">

					<div class="rt-main-post-single grid-meta">

					   <!-- start post header -->
					   {{ partial "single/metadata.html" . }}

					   <!-- end post-header -->

					   <!-- strat psot body -->
					   <div class="post-body">

							 {{ .Content }}

							 <!-- ad banner -->
							 {{ partial "ads/single-post-ad.html" . }}
						 </div>
					   <!-- end post body -->

					   <!-- start social-share-box-2 -->
					   <div class="social-share-box-2 mb--40">
						  <div class="row gutter-30">
							 <div class="col-xl-7 col-lg-6">
								<div class="conent-block">
								   <h4 class="block-tile mb--20">Popular Tags:</h4>
								   <div class="tag-list">
									 {{ range $i, $e := .Params.tags -}}
										 {{- if $i -}} {{ end -}}
										 <a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}' class="tag-link">{{ $e | humanize }}</a>
									 {{- end -}}
									 </div>
								</div>
							 </div>
							 <div class="col-xl-5 col-lg-6 d-flex justify-content-start justify-content-lg-end">
								<div class="conent-block">
								   <h4 class="block-tile mb--20">Share This Post:</h4>
								   {{ partial "single/social-share-1.html" . }}
								</div>
							 </div>
						  </div>
					   </div>
					   <!-- end social-share-box-2 -->

					   <!-- start author box -->
					   
					   <!-- end author box -->

					   <!-- start post-pagination-box -->
					   <div class="post-pagination-box mb--40">
						 <div class="row gutter-30">
							 {{ if .PrevPage }}
							 <div class="col-lg-6 pvnx">
								 <div class="next-prev-wrap">
									 <div class="item-icon">
										 <a href="{{ .PrevPage.Permalink }}?ref=footer">
											 <i class="fas fa-chevron-left"></i>
											 Previous Article
										 </a>
									 </div>
									 <div class="content">
										 <h4 class="title">
											 <a href="{{ .PrevPage.Permalink }}?ref=footer">
												 {{ .PrevPage.Title | truncate 50 "..."}}
											 </a>
										 </h4>
										 {{ partial "body/published-date.html" . }}
									 </div>
								 </div>
							 </div>

							 {{ end }}

							 {{ if .NextPage }}
							 <div class="col-lg-6 pvnx">
								 <div class="next-prev-wrap next-wrap">
									 <div class="item-icon">
										 <a href="{{ .NextPage.Permalink }}?ref=footer">
											 Next Article
											 <i class="fas fa-chevron-right"></i>
										 </a>
									 </div>
									 <div class="content">
										 <h4 class="title">
											 <a href="{{ .NextPage.Permalink }}?ref=footer">
												 {{ .NextPage.Title | truncate 50 "..." }}
											 </a>
										 </h4>
										 {{ partial "body/published-date.html" . }}
									 </div>
								 </div>
							 </div>
							 {{ end }}	
							 
						 </div>
					 </div>
					   <!-- end pagination box -->

					   <!-- start blog-post-comment -->
					  
					   <!-- end blog-post-comment -->

					   <!-- start related-post-box -->
					   {{- partial "single/related-posts.html" . -}}
					   <!-- end related-post-box -->

					</div>
					<!-- end rt-main-post-single -->
				 </div>
				 <!-- end rt-left-sidebar-sapcer-5 -->
			  </div>
			  <!-- end col-->

			  {{- partial "sidebar/sidebar.html" . -}}
			  <!-- end col -->

		   </div>
		   <!-- end row  -->
		</div>
		<!-- end container -->
	 </section>
	<!-- end rt-sidebar-section-layout-2 -->

 {{ end }}
