{{ define "main" }}

	<!-- Start inner page Banner -->
	<div class="banner inner-banner">
		<div class="container">
			{{ partial "breadcrumbs.html" . }}
		</div>
	</div>
	<!-- End inner page Banner -->

	<!-- start rt-sidebar-section-layout-2 -->
	<section class="rt-sidebar-section-layout-2" style="transform: none">
		<div class="container" style="transform: none">
			<div class="row gutter-40 sticky-coloum-wrap" style="transform: none">
				<div
					class="col-xl-9 sticky-coloum-item"
					style="
						position: relative;
						overflow: visible;
						box-sizing: border-box;
						min-height: 1px;
					"
				>
					<!-- end rt-left-sidebar-sapcer-5 -->
					<div
						class="theiaStickySidebar"
						style="
							padding-top: 0px;
							padding-bottom: 1px;
							position: static;
							transform: none;
						"
					>
						<div class="rt-left-sidebar-sapcer-5">
							<div class="rt-main-post-single grid-meta">
								<!-- start post header -->
								{{ partial "metadata.html" . }}
								<!-- end post-header -->

								<!-- strat psot body -->
								<div class="post-body">

                                        {{ .Content }}

									<!-- ad banner -->
									{{ partial "single-post-ad.html" . }}
								</div>
								<!-- end post body -->

								<!-- start social-share-box-2 -->
								<div class="social-share-box-2 mb--40">
									<div class="row gutter-30">
										<div class="col-xl-7 col-lg-6">
											<div class="conent-block">
												<h4 class="block-tile mb--20">Popular Tags:</h4>
												<div class="tag-list">
													{{ range $i, $e := .Params.tags -}}
														{{- if $i -}} {{ end -}}
														<a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}' class="tag-link">{{ $e | humanize }}</a>
													{{- end -}}
												</div>
											</div>
										</div>
										<div
											class="col-xl-5 col-lg-6 d-flex justify-content-start justify-content-lg-end"
										>
											<div class="conent-block">
												<h4 class="block-tile mb--20">Share This Post:</h4>
												{{ partial "social-share-1.html" . }}
											</div>
										</div>
									</div>
								</div>
								<!-- end social-share-box-2 -->

								<!-- start author box -->
							
								<!-- end author box -->

								<!-- start post-pagination-box -->
								<div class="post-pagination-box mb--40">
									<div class="row gutter-30">
										{{ if .PrevPage }}
										<div class="col-lg-6 pvnx">
											<div class="next-prev-wrap">
												<div class="item-icon">
													<a href="{{ .PrevPage.Permalink }}?ref=footer">
														<i class="fas fa-chevron-left"></i>
														Previous Article
													</a>
												</div>
												<div class="content">
													<h4 class="title">
														<a href="{{ .PrevPage.Permalink }}?ref=footer">
															{{ .PrevPage.Title | truncate 50 "..."}}
														</a>
													</h4>
													{{ partial "published-date.html" . }}
												</div>
											</div>
										</div>

										{{ end }}

										{{ if .NextPage }}
										<div class="col-lg-6 pvnx">
											<div class="next-prev-wrap next-wrap">
												<div class="item-icon">
													<a href="{{ .NextPage.Permalink }}?ref=footer">
														Next Article
														<i class="fas fa-chevron-right"></i>
													</a>
												</div>
												<div class="content">
													<h4 class="title">
														<a href="{{ .NextPage.Permalink }}?ref=footer">
															{{ .NextPage.Title | truncate 50 "..." }}
														</a>
													</h4>
													{{ partial "published-date.html" . }}
												</div>
											</div>
										</div>
										{{ end }}	
										
									</div>
								</div>
								<!-- end pagination box -->

								<!-- start blog-post-comment -->
								<!-- <div class="blog-post-comment mb--50">
									<form
										action="#"
										class="rt-contact-form comments-form-style-1"
										novalidate="true"
									>
										<div class="row">
											<div class="col-xl-4">
												<div class="rt-form-group">
													<label for="name">Your Name *</label>
													<input
														type="text"
														name="name"
														id="name"
														class="form-control"
														data-error="Name field is required"
														required=""
													/>
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xl-4">
												<div class="rt-form-group">
													<label for="email">E-mail *</label>
													<input
														type="text"
														name="email"
														id="email"
														class="form-control"
														data-error="Email field is required"
														required=""
													/>
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-xl-4">
												<div class="rt-form-group">
													<label for="website">Website *</label>
													<input
														type="text"
														name="website"
														id="website"
														class="form-control"
														data-error="Web Url field is required"
														required=""
													/>
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-12">
												<div class="rt-form-group">
													<label for="comment">Comments *</label>
													<textarea
														name="comment"
														id="comment"
														class="form-control text-area"
														data-error="Comment field is required"
														required=""
													></textarea>
													<div class="help-block with-errors"></div>
												</div>
											</div>
											<div class="col-12">
												<div class="rt-form-group">
													<div class="form-check">
														<input
															class="form-check-input"
															type="checkbox"
															value=""
															id="comment-form-check1"
														/>
														<label
															class="form-check-label"
															for="comment-form-check1"
														>
															Save my name, email, and website in this browser
															for the next time I comment.
														</label>
													</div>
												</div>
											</div>
											<div class="col-12">
												<button type="submit" class="submit-btn disabled">
													Post Comment
												</button>
											</div>
											<div class="form-response"></div>
										</div>
									</form>
								</div> -->
								<!-- end blog-post-comment -->

								<!-- start related-post-box -->
								<div class="related-post-box">
									<div class="titile-wrapper mb--40">
										<h2 class="rt-section-heading mb-0 flex-grow-1 me-3">
											<span class="rt-section-text">Related Post </span>
											<span class="rt-section-dot"></span>
											<span class="rt-section-line"></span>
										</h2>

										<div class="slider-navigation style-2">
											<i
												class="fas fa-chevron-left slider-btn btn-prev"
												tabindex="0"
												role="button"
												aria-label="Previous slide"
												aria-controls="swiper-wrapper-cf10eaabca2a83c210"
											></i>
											<i
												class="fas fa-chevron-right slider-btn btn-next"
												tabindex="0"
												role="button"
												aria-label="Next slide"
												aria-controls="swiper-wrapper-cf10eaabca2a83c210"
											></i>
										</div>
									</div>
									<!-- end titile-wrapper -->

									<div
										class="swiper-container rt-post-slider-style-5 swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events"
									>
										<div
											class="swiper-wrapper"
											id="swiper-wrapper-cf10eaabca2a83c210"
											aria-live="off"
											style="
												transition-duration: 0ms;
												transform: translate3d(-2886px, 0px, 0px);
											"
										>

											{{ $related :=  .Site.RegularPages.Related . }}
											{{ range first 5 $related }}

										<div
											class="swiper-slide swiper-slide-duplicate-active"
											data-swiper-slide-index="3"
											style="width: 296.667px; margin-right: 24px"
											role="group"
											aria-label="4 / 12"
										>
											<div class="slide-item">
												<div class="rt-post-grid grid-meta">
													<div class="post-img">
														<a href="{{ .Permalink }}">
															{{ with .Param "featured_image" }}
															<img
																src="{{ . }}" alt="{{ $.Title }}"
																width="551"
																height="431"
															/>
															{{ else }}
															<img
																src="/images/gallery/post-lg_5.jpg"
																alt="{{ .Title }}"
																width="551"
																height="431"
															/>
															{{end}}
														</a>
													</div>
													<div class="post-content">
														<a href="{{ $.Site.BaseURL }}category/{{ .Params.category }}" class="rt-post-cat-normal"
															>{{ .Params.category }}</a
														>
														<h4 class="post-title">
															<a href="{{ .Permalink }}">
																{{ .Title }}
															</a>
														</h4>

														<span class="rt-meta">
															<i class="far fa-calendar-alt icon"></i>
															DECEMBER 9, 2022
														</span>
													</div>
												</div>
											</div>
										</div>
										<!-- end swiper slide -->
										{{ end }}

											<!-- <div
												class="swiper-slide swiper-slide-duplicate-active"
												data-swiper-slide-index="3"
												style="width: 296.667px; margin-right: 24px"
												role="group"
												aria-label="4 / 12"
											>
												<div class="slide-item">
													<div class="rt-post-grid grid-meta">
														<div class="post-img">
															<a href="{{ .Permalink }}">
																<img
																	src="/images/gallery/post-md_42.jpg"
																	alt="post"
																	width="551"
																	height="431"
																/>
															</a>
														</div>
														<div class="post-content">
															<a href="graphics.html" class="rt-post-cat-normal"
																>Design</a
															>
															<h4 class="post-title">
																<a href="{{ .Permalink }}">
																	After The Moon How Close gea Is Space Travel
																	Reall.
																</a>
															</h4>

															<span class="rt-meta">
																<i class="far fa-calendar-alt icon"></i>
																DECEMBER 9, 2022
															</span>
														</div>
													</div>
												</div>
											</div>
											
											
											<div
												class="swiper-slide swiper-slide-duplicate-next"
												data-swiper-slide-index="4"
												style="width: 296.667px; margin-right: 24px"
												role="group"
												aria-label="5 / 12"
											>
												<div class="slide-item">
													<div class="rt-post-grid grid-meta">
														<div class="post-img">
															<a href="{{ .Permalink }}">
																<img
																	src="/images/gallery/post-md_43.jpg"
																	alt="post"
																	width="551"
																	height="431"
																/>
															</a>
														</div>
														<div class="post-content">
															<a href="graphics.html" class="rt-post-cat-normal"
																>Design</a
															>
															<h4 class="post-title">
																<a href="{{ .Permalink }}">
																	After The Moon How Close gea Is Space Travel
																	Reall.
																</a>
															</h4>
															<span class="rt-meta">
																<i class="far fa-calendar-alt icon"></i>
																DECEMBER 9, 2022
															</span>
														</div>
													</div>
												</div>
											</div>
											

											<div
												class="swiper-slide"
												data-swiper-slide-index="5"
												style="width: 296.667px; margin-right: 24px"
												role="group"
												aria-label="6 / 12"
											>
												<div class="slide-item">
													<div class="rt-post-grid grid-meta">
														<div class="post-img">
															<a href="{{ .Permalink }}">
																<img
																	src="/images/gallery/post-md_44.jpg"
																	alt="post"
																	width="551"
																	height="431"
																/>
															</a>
														</div>
														<div class="post-content">
															<a href="graphics.html" class="rt-post-cat-normal"
																>Design</a
															>
															<h4 class="post-title">
																<a href="{{ .Permalink }}">
																	After The Moon How Close gea Is Space Travel
																	Reall.
																</a>
															</h4>
															<span class="rt-meta">
																<i class="far fa-calendar-alt icon"></i>
																DECEMBER 9, 2022
															</span>
														</div>
													</div>
												</div>
											</div>
											

											<div
												class="swiper-slide"
												data-swiper-slide-index="6"
												style="width: 296.667px; margin-right: 24px"
												role="group"
												aria-label="7 / 12"
											>
												<div class="slide-item">
													<div class="rt-post-grid grid-meta">
														<div class="post-img">
															<a href="{{ .Permalink }}">
																<img
																	src="/images/gallery/post-md_45.jpg"
																	alt="post"
																	width="551"
																	height="431"
																/>
															</a>
														</div>
														<div class="post-content">
															<a href="graphics.html" class="rt-post-cat-normal"
																>Design</a
															>
															<h4 class="post-title">
																<a href="single-post1.html">
																	After The Moon How Close gea Is Space Travel
																	Reall.
																</a>
															</h4>
															<span class="rt-meta">
																<i class="far fa-calendar-alt icon"></i>
																DECEMBER 9, 2022
															</span>
														</div>
													</div>
												</div>
											</div>
											

											<div
												class="swiper-slide"
												data-swiper-slide-index="7"
												style="width: 296.667px; margin-right: 24px"
												role="group"
												aria-label="8 / 12"
											>
												<div class="slide-item">
													<div class="rt-post-grid grid-meta">
														<div class="post-img">
															<a href="single-post1.html">
																<img
																	src="/images/gallery/post-md_46.jpg"
																	alt="post"
																	width="551"
																	height="431"
																/>
															</a>
														</div>
														<div class="post-content">
															<a href="graphics.html" class="rt-post-cat-normal"
																>Design</a
															>
															<h4 class="post-title">
																<a href="single-post1.html">
																	After The Moon How Close gea Is Space Travel
																	Reall.
																</a>
															</h4>
															<span class="rt-meta">
																<i class="far fa-calendar-alt icon"></i>
																DECEMBER 9, 2022
															</span>
														</div>
													</div>
												</div>
											</div>
											

											<div
												class="swiper-slide swiper-slide-prev"
												data-swiper-slide-index="8"
												style="width: 296.667px; margin-right: 24px"
												role="group"
												aria-label="9 / 12"
											>
												<div class="slide-item">
													<div class="rt-post-grid grid-meta">
														<div class="post-img">
															<a href="single-post1.html">
																<img
																	src="/images/gallery/post-md_47.jpg"
																	alt="post"
																	width="551"
																	height="431"
																/>
															</a>
														</div>
														<div class="post-content">
															<a href="graphics.html" class="rt-post-cat-normal"
																>Design</a
															>
															<h4 class="post-title">
																<a href="single-post1.html">
																	After The Moon How Close gea Is Space Travel
																	Reall.
																</a>
															</h4>
															<span class="rt-meta">
																<i class="far fa-calendar-alt icon"></i>
																DECEMBER 9, 2022
															</span>
														</div>
													</div>
												</div>
											</div> -->
											

									
										</div>
										<!-- end swiper wrapper -->
										<span
											class="swiper-notification"
											aria-live="assertive"
											aria-atomic="true"
										></span>
									</div>
									<!-- end swiper container + editor-choice-slider-style-1  -->
								</div>
								<!-- end related-post-box -->
							</div>
							<!-- end rt-main-post-single -->
						</div>
						<div
							class="resize-sensor"
							style="
								position: absolute;
								inset: 0px;
								overflow: hidden;
								z-index: -1;
								visibility: hidden;
							"
						>
							<div
								class="resize-sensor-expand"
								style="
									position: absolute;
									left: 0;
									top: 0;
									right: 0;
									bottom: 0;
									overflow: hidden;
									z-index: -1;
									visibility: hidden;
								"
							>
								<div
									style="
										position: absolute;
										left: 0px;
										top: 0px;
										transition: all 0s ease 0s;
										width: 1000px;
										height: 5063px;
									"
								></div>
							</div>
							<div
								class="resize-sensor-shrink"
								style="
									position: absolute;
									left: 0;
									top: 0;
									right: 0;
									bottom: 0;
									overflow: hidden;
									z-index: -1;
									visibility: hidden;
								"
							>
								<div
									style="
										position: absolute;
										left: 0;
										top: 0;
										transition: 0s;
										width: 200%;
										height: 200%;
									"
								></div>
							</div>
						</div>
					</div>
				</div>
				<!-- end col-->

				<div
					class="col-xl-3 col-lg-8 mx-auto sticky-coloum-item"
					style="
						position: relative;
						overflow: visible;
						box-sizing: border-box;
						min-height: 1px;
					"
				>
					<!-- end rt-sidebar -->
					<div
						class="theiaStickySidebar"
						style="
							padding-top: 0px;
							padding-bottom: 1px;
							position: static;
							transform: none;
							top: 0px;
							left: 1283.5px;
						"
					>
						<div class="rt-sidebar sticky-wrap">
							<div class="sidebar-wrap mb--40">
								<div class="search-box">
									<form action="#" class="form search-form-box">
										<div class="form-group">
											<input
												type="text"
												name="sarch"
												id="search"
												placeholder="Search..."
												class="form-control rt-search-control"
											/>
											<button type="submit" class="search-submit">
												<i class="fas fa-search"></i>
											</button>
										</div>
									</form>
								</div>
							</div>
							<!-- end sidebar wrap -->

							{{ partial "sidebar/popular-circle.html" . }}
							<!-- end slidebar wrap  -->

							<div class="sidebar-wrap mb--40">
								<h2 class="rt-section-heading style-2 mb--30">
									<span class="rt-section-text">Hot Categories </span>
									<span class="rt-section-dot"></span>
									<span class="rt-section-line"></span>
								</h2>
								<ul class="rt-categories">
									<li>
										<a
											href="gaming.html"
											data-bg-image="/images/gallery/cat_1.jpg"
											style="background-image: url('/images/gallery/cat_1.jpg')"
										>
											<span class="cat-name">Sports</span>
											<span class="count">59</span>
										</a>
									</li>
									<li>
										<a
											href="life-style.html"
											data-bg-image="/images/gallery/cat_2.jpg"
											style="background-image: url('/images/gallery/cat_2.jpg')"
										>
											<span class="cat-name">World</span>
											<span class="count">12</span>
										</a>
									</li>
									<li>
										<a
											href="technology.html"
											data-bg-image="/images/gallery/cat_3.jpg"
											style="background-image: url('/images/gallery/cat_3.jpg')"
										>
											<span class="cat-name">Technology</span>
											<span class="count">59</span>
										</a>
									</li>
									<li>
										<a
											href="life-style.html"
											data-bg-image="/images/gallery/cat_4.jpg"
											style="background-image: url('/images/gallery/cat_4.jpg')"
										>
											<span class="cat-name">Food</span>
											<span class="count">12</span>
										</a>
									</li>
									<li>
										<a
											href="life-style.html"
											data-bg-image="/images/gallery/cat_5.jpg"
											style="background-image: url('/images/gallery/cat_5.jpg')"
										>
											<span class="cat-name">Travel</span>
											<span class="count">12</span>
										</a>
									</li>
								</ul>
							</div>
							<!-- end slidebar wrap  -->

							<div class="sidebar-wrap mb--40">
								<div
									class="subscribe-box-style-1"
									data-bg-image="/images/elements/element_5.png"
									style="background-image: url('/images/elements/element_5.png')"
								>
									<div class="subscribe-content">
										<h3 class="title">Subscribe To Our Newsletter</h3>
										<p>
											No spam, notifications only about new products, updates.
										</p>
										<form
											action="#"
											method="post"
											class="subscribe-form rt-form"
										>
											<div class="rt-form-group">
												<input
													type="email"
													name="email"
													id="email_1"
													placeholder="enter e-mail"
													class="rt-form-control"
												/>
											</div>

											<button type="submit" class="rt-submit-btn">
												Subscribe Now
											</button>
										</form>
										<div class="small-text">Don’t worry, we don’t spam</div>
									</div>
								</div>
							</div>
							<!-- end sidebar wrap -->

							<div class="sidebar-wrap mb--40">
								<h2 class="rt-section-heading style-2 mb--30">
									<span class="rt-section-text">Tags </span>
									<span class="rt-section-dot"></span>
									<span class="rt-section-line"></span>
								</h2>
								<div class="tag-list">
									{{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
									{{ with $.Site.GetPage (printf "/tags/%s" $name) }}
		
										<a href={{ .RelPermalink }} title="All pages with tag <i>{{$name}}" class="tag-link">{{$name}}</a>
									
									{{end}}
									{{end}}

									{{range ($.Site.GetPage "taxonomyTerm" "category").Pages }}
   <a href="{{.Permalink}}">{{.Title}}</a></li>
{{end}}
								</div>
							</div>
							<!-- end sidebar wrap -->
						</div>
						<div
							class="resize-sensor"
							style="
								position: absolute;
								inset: 0px;
								overflow: hidden;
								z-index: -1;
								visibility: hidden;
							"
						>
							<div
								class="resize-sensor-expand"
								style="
									position: absolute;
									left: 0;
									top: 0;
									right: 0;
									bottom: 0;
									overflow: hidden;
									z-index: -1;
									visibility: hidden;
								"
							>
								<div
									style="
										position: absolute;
										left: 0px;
										top: 0px;
										transition: all 0s ease 0s;
										width: 340px;
										height: 5063px;
									"
								></div>
							</div>
							<div
								class="resize-sensor-shrink"
								style="
									position: absolute;
									left: 0;
									top: 0;
									right: 0;
									bottom: 0;
									overflow: hidden;
									z-index: -1;
									visibility: hidden;
								"
							>
								<div
									style="
										position: absolute;
										left: 0;
										top: 0;
										transition: 0s;
										width: 200%;
										height: 200%;
									"
								></div>
							</div>
						</div>
					</div>
				</div>
				<!-- end col -->
			</div>
			<!-- end row  -->
		</div>
		<!-- end container -->
	</section>
	<!-- end rt-sidebar-section-layout-2 -->

 {{ end }}
